.navbar {
  background-color: #2b3b4e; }

.contactenos_wrap {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 90px; }
  @media (max-width: 768px) {
    .contactenos_wrap {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.contactenos_single {
  width: 25%;
  text-align: center;
  font-size: 16px; }
  @media (max-width: 768px) {
    .contactenos_single {
      width: 100%;
      margin-bottom: 40px; } }

.contactenos_single_img {
  display: block;
  height: 155px;
  width: auto;
  margin: 0 auto; }

.contactenos_single_title {
  margin-top: 20px;
  font-size: 22px; }

.contactenos_single_text {
  font-weight: bold;
  margin-top: 5px;
  font-size: 25px; }

.contactenos_map {
  display: block;
  height: 500px;
  margin-top: 190px; }
  @media (max-width: 768px) {
    .contactenos_map {
      margin-top: 50px; } }

.map_popup {
  padding: 20px 0 10px;
  font-size: 16px;
  width: 300px;
  text-align: center;
  font-weight: 500; }
