body {
  background-color: #f0f2f5; }

.navbar {
  background-color: #2b3b4e; }

.block_subtitle {
  width: 768px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 778px) {
    .block_subtitle {
      width: 100%; } }

.datos_block {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  font-family: 'Lato';
  color: #2b3b4e;
  padding: 45px 50px;
  width: 778px;
  margin: 60px auto 0; }
  @media (max-width: 778px) {
    .datos_block {
      width: 100%; } }

.datos_block_title {
  font-weight: 28px;
  margin-bottom: 45px;
  font-weight: bold;
  width: 100%; }

.datos_form {
  text-align: justify; }

.datos_form_input {
  display: block;
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  border-color: #a5acb4;
  transition: all 0.3s;
  width: 100%; }
  .datos_form_input:active, .datos_form_input:focus {
    border-color: #f5a623;
    color: #f5a623;
    background-color: white; }

.datos_form_input_small {
  display: inline-block; }
  @media (min-width: 778px) {
    .datos_form_input_small {
      width: 48%; } }

.datos_form_btn {
  display: block;
  color: white;
  border: 1px solid #f5a623;
  background-color: #f5a623;
  padding: 8px 30px;
  transition: all 0.3s;
  font-size: 16px;
  page-break-before: always; }
  .datos_form_btn:hover, .datos_form_btn:focus {
    background-color: #e39109;
    color: white; }

#csc {
  background: url(../img/abre-tu-cuenta/icons/card.png) no-repeat;
  background-size: 25px 17px;
  background-position: 95%;
  padding-right: 50px; }
