.navbar {
  background-color: #2b3b4e; }

.search_wrap {
  position: fixed;
  top: 73px;
  z-index: 100; }

@media (min-width: 1024px) {
  .search {
    height: 0;
    overflow: hidden; } }

.detalle_sticky {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .detalle_sticky:before, .detalle_sticky:after {
    content: none; }
  .detalle_sticky * {
    margin: 0;
    padding: 0; }
  @media (max-width: 1024px) {
    .detalle_sticky {
      display: none; } }

.detalle_sticky_title {
  font-size: 20px;
  margin-right: auto; }

.detalle_sticky_btn {
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  padding: 10px 35px;
  margin-right: 5px; }

#stickyBtnInvertir {
  color: white;
  background-color: #f5a623; }
  #stickyBtnInvertir:hover, #stickyBtnInvertir:focus {
    background-color: #e39109;
    color: white; }

#stickyBtnRegresar {
  background-color: transparent;
  border-color: #2b3b4e; }
  #stickyBtnRegresar:hover, #stickyBtnRegresar:focus {
    background-color: #2b3b4e;
    color: white; }

@-webkit-keyframes hideSticky {
  0% {
    overflow: visible; }
  95% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    overflow: visible; }
  100% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    display: none;
    overflow: hidden; } }

@keyframes hideSticky {
  0% {
    overflow: visible; }
  95% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    overflow: visible; }
  100% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    display: none;
    overflow: hidden; } }

@-webkit-keyframes showSticky {
  0% {
    overflow: hidden;
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    visibility: visible; }
  100% {
    overflow: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible; } }

@keyframes showSticky {
  0% {
    overflow: hidden;
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    visibility: visible; }
  100% {
    overflow: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible; } }

@media (min-width: 1024px) {
  .detalle_sticky_hide .detalle_sticky * {
    -webkit-animation: hideSticky 0.5s forwards;
    animation: hideSticky 0.5s forwards; }
  .detalle_sticky_hide .search {
    -webkit-animation: showSticky 0.5s 0.5s forwards;
    animation: showSticky 0.5s 0.5s forwards; } }

@media (min-width: 1024px) {
  .detalle_sticky_show .search {
    -webkit-animation: hideSticky 0.5s forwards;
    animation: hideSticky 0.5s forwards; }
  .detalle_sticky_show .detalle_sticky * {
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-animation: showSticky 0.5s 0.5s forwards;
    animation: showSticky 0.5s 0.5s forwards; } }

.detalle_cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.detalle_estrat {
  background-color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  margin-top: 50px;
  border-radius: 5px;
  width: 100%; }

.detalle_estrat_head {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  width: 100%;
  padding: 20px 20px 15px;
  background-color: #2b3b4e;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 20px;
  word-spacing: 5px;
  color: rgba(255, 255, 255, 0.7); }

.detalle_estrat_head_title {
  display: inline-block;
  margin: 0; }
  .detalle_estrat_head_title span {
    text-transform: uppercase;
    color: white; }
  @media (max-width: 1024px) {
    .detalle_estrat_head_title {
      display: block; } }

.detalle_estrat_head_date {
  float: right; }
  @media (max-width: 1024px) {
    .detalle_estrat_head_date {
      display: none; } }

.detalle_estrat_block {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  width: 25%;
  min-height: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 25px;
  position: relative;
  overflow: hidden;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left; }
  .detalle_estrat_block:after {
    content: '';
    height: 80%;
    width: 1px;
    background-color: #f5a623;
    position: absolute;
    right: 0; }
  .detalle_estrat_block:last-child {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0; }
    .detalle_estrat_block:last-child:after {
      content: none; }
  @media (max-width: 1024px) {
    .detalle_estrat_block {
      width: 50%;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      .detalle_estrat_block:nth-child(3n):after {
        content: none; }
      .detalle_estrat_block:last-child {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media (max-width: 1024px) {
    .detalle_estrat_block:last-child {
      min-height: 100px; }
      .detalle_estrat_block:last-child * {
        text-align: center;
        font-size: 24px; } }

.detalle_estrat_percent {
  color: #f5a623;
  font-size: 45px; }

.detalle_estrat_term {
  font-size: 14px;
  color: #2b3b4e; }

.detalle_estrat_subtitle {
  font-size: 14px;
  font-weight: normal; }

.detalle_estrat_value_wrap {
  margin-top: 5px;
  margin-bottom: 10px; }

.detalle_estrat_big-value {
  color: #2b3b4e;
  font-size: 24px;
  font-weight: bold;
  margin: 0; }

.detalle_estrat_fondos_value span, .detalle_estrat_operadoras_value span {
  font-weight: normal;
  font-size: 16px !important; }

.estrat_block_objetivo .detalle_estrat_term {
  display: none; }

@media (max-width: 1024px) {
  .estrat_block_objetivo .detalle_estrat_subtitle, .estrat_block_objetivo div {
    display: none; }
  .estrat_block_objetivo .detalle_estrat_term {
    display: block; } }

.estrat_comision_wrap {
  position: relative;
  width: 100%;
  text-align: center; }
  .estrat_comision_wrap:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0.4;
    width: 100%;
    height: 1px;
    background-color: #2b3b4e; }

.detalle_estrat_objetivo_value {
  font-size: 45px;
  color: white;
  background-color: #62adf5;
  padding: 0 20px;
  border-radius: 100%;
  margin: 10px auto; }

.detalle_estrat_btn {
  color: white;
  background-color: #62adf5;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  margin: 120px auto 0;
  display: block;
  padding: 10px 35px; }
  .detalle_estrat_btn:hover, .detalle_estrat_btn:focus {
    background-color: #288ceb;
    color: white; }
  @media (max-width: 1024px) {
    .detalle_estrat_btn {
      width: 70%; } }

.estrat_mobile_divider {
  display: none;
  opacity: 0.4;
  width: 85%;
  height: 1px;
  background-color: #2b3b4e; }

@media (max-width: 1024px) {
  .estrat_block_diver, .estrat_block_comision, .estrat_mobile_divider {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  .estrat_mobile_divider {
    display: block; }
  .estrat_block_comision:after {
    content: "" !important;
    height: 80%;
    width: 1px;
    background-color: #f5a623;
    position: absolute;
    right: 0; }
  .estrat_block_objetivo:after {
    content: none; } }

.detalle_modal_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  transition: all 0.4s;
  opacity: 0; }

.detalle_modal_visible {
  opacity: 1;
  z-index: 10; }

.detalle_modal_body {
  background-color: white;
  padding: 40px 35px;
  width: 520px;
  min-height: 360px;
  margin: 200px auto 0;
  border-radius: 5px;
  color: #2b3b4e;
  text-align: justify; }
  @media (max-width: 768px) {
    .detalle_modal_body {
      width: 80%; } }
  .detalle_modal_body p {
    font-size: 16px;
    margin-top: 40px; }
  .detalle_modal_body span {
    font-weight: bold; }

.detalle_modal_title {
  font-size: 28px;
  font-weight: bold; }

#irAPortafolio {
  background-color: #2b3b4e;
  width: 185px; }
  #irAPortafolio:hover, #irAPortafolio:focus {
    background-color: rgba(203, 203, 203, 0.56);
    color: white; }

#regresarAStrategia {
  background-color: #f5a623;
  margin-left: 30px;
  width: 230px; }
  #regresarAStrategia:hover, #regresarAStrategia:focus {
    background-color: #e39109;
    color: white; }

#irAPortafolio, #regresarAStrategia {
  margin-top: 30px;
  padding: 8px 30px;
  transition: all 0.3s;
  font-size: 16px;
  color: white;
  text-align: center; }
  @media (max-width: 768px) {
    #irAPortafolio, #regresarAStrategia {
      display: block;
      width: 90%;
      margin: 20px auto 0;
      outline: hidden; } }

.detalle_block {
  width: 48%;
  border-radius: 5px;
  background-color: white;
  padding: 55px 55px;
  margin-top: 40px;
  color: #2b3b4e; }
  .detalle_block:last-child {
    margin-left: auto; }
  @media (max-width: 1024px) {
    .detalle_block {
      padding: 40px 10px 30px;
      width: 100%;
      margin-top: 20px; } }

.detalle_block_title {
  font-weight: bold;
  font-size: 28px;
  padding-left: 20px;
  width: 90%;
  position: relative; }
  .detalle_block_title:before {
    content: ' ';
    border: 3px solid #f5a623;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    position: absolute;
    top: 15px;
    left: 0px; }

.detalle_block_title_info {
  display: inline-block;
  width: 30px;
  color: #62adf5;
  font-size: 15px;
  margin-left: 10px;
  cursor: help;
  position: absolute; }
  .detalle_block_title_info:after {
    content: attr(data-info);
    position: absolute;
    background-color: white;
    -webkit-transform: translateY(-100%) translateX(-50%);
    -ms-transform: translateY(-100%) translateX(-50%);
    transform: translateY(-100%) translateX(-50%);
    font-size: 14px;
    padding: 15px;
    box-shadow: 0 5px 67px 0 rgba(43, 59, 78, 0.2);
    min-width: 300px;
    opacity: 0;
    z-index: -10;
    color: #2b3b4e;
    text-align: justify;
    transition: opacity 0.3s, z-index 0.3s; }
    @media (max-width: 768px) {
      .detalle_block_title_info:after {
        min-width: 0px;
        width: 180px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        text-align: left; } }
  .detalle_block_title_info:hover::after {
    opacity: 1;
    z-index: 10; }

.detalle_block_title_info_tooltip {
  display: inline-block;
  position: relative; }

.detalle_block_subtitle {
  font-size: 16px;
  margin-top: 10px;
  padding-left: 20px; }

.detalle_block_big-value {
  font-size: 45px;
  text-align: center;
  margin-top: 35px; }

.detalle_block_text {
  font-size: 16px;
  text-align: center; }
  .detalle_block_text span {
    color: #f5a623;
    font-weight: bold; }
  @media (max-width: 1024px) {
    .detalle_block_text {
      text-align: justify; } }

.detalle_block_table_wrap {
  margin-top: 35px;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  overflow: hidden; }

.detalle_block_table {
  width: 100%; }
  .detalle_block_table th, .detalle_block_table td {
    padding: 20px; }
  .detalle_block_table tr:nth-child(2n + 1) {
    background-color: #fce8c8; }
  .detalle_block_table tr:first-child {
    border-bottom: 1px solid black;
    border-color: rgba(0, 0, 0, 0.25);
    background-color: white; }

.detalle_block_list {
  margin-top: 35px;
  list-style: none;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0; }

.detalle_block_list_item {
  font-size: 16px;
  padding: 13px 20px;
  width: 100%; }
  .detalle_block_list_item:nth-child(2n) {
    background-color: #fce8c8; }

.objetivo, .desempeno {
  width: 100%; }

.objetivo, .horizonte {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.objetivo_block, .horizonte_block {
  width: 45%;
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .objetivo_block, .horizonte_block {
      width: 100%; } }

.objetivo_list {
  border-color: transparent; }

.objetivo_list_item {
  font-size: 16px;
  padding: 13px 20px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s; }
  .objetivo_list_item i {
    float: right;
    color: transparent;
    background-color: transparent;
    padding: 6px;
    font-size: 12px;
    border-radius: 100%; }

.objetivo_list_num {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #2b3b4e;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  line-height: 25px;
  margin-right: 20px;
  transition: all 0.3s; }

#conservador {
  color: #97cd57;
  background-color: #e8f5db;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  #conservador .objetivo_list_num {
    background-color: #97cd57; }
  #conservador:hover, #conservador.objetivo_list_item-active {
    background-color: #97cd57;
    color: white; }
    #conservador:hover .objetivo_list_num, #conservador:hover i, #conservador.objetivo_list_item-active .objetivo_list_num, #conservador.objetivo_list_item-active i {
      background-color: #e8f5db;
      color: #97cd57; }

#moderado {
  color: #f5a623;
  background-color: #fff0db; }
  #moderado .objetivo_list_num {
    background-color: #f5a623; }
  #moderado:hover, #moderado.objetivo_list_item-active {
    background-color: #f5a623;
    color: white; }
    #moderado:hover .objetivo_list_num, #moderado:hover i, #moderado.objetivo_list_item-active .objetivo_list_num, #moderado.objetivo_list_item-active i {
      background-color: #fff0db;
      color: #f5a623; }

#emprendedor {
  color: #db2837;
  background-color: #f8d4d7; }
  #emprendedor .objetivo_list_num {
    background-color: #db2837; }
  #emprendedor:hover, #emprendedor.objetivo_list_item-active {
    background-color: #db2837;
    color: white; }
    #emprendedor:hover .objetivo_list_num, #emprendedor:hover i, #emprendedor.objetivo_list_item-active .objetivo_list_num, #emprendedor.objetivo_list_item-active i {
      background-color: #f8d4d7;
      color: #db2837; }

#agresivo {
  color: #73bff7;
  background-color: #e3f2fd; }
  #agresivo .objetivo_list_num {
    background-color: #73bff7; }
  #agresivo:hover, #agresivo.objetivo_list_item-active {
    background-color: #73bff7;
    color: white; }
    #agresivo:hover .objetivo_list_num, #agresivo:hover i, #agresivo.objetivo_list_item-active .objetivo_list_num, #agresivo.objetivo_list_item-active i {
      background-color: #e3f2fd;
      color: #73bff7; }

#especulativo {
  color: #6e60ea;
  background-color: #f0eefc; }
  #especulativo .objetivo_list_num {
    background-color: #6e60ea; }
  #especulativo:hover, #especulativo.objetivo_list_item-active {
    background-color: #6e60ea;
    color: white; }
    #especulativo:hover .objetivo_list_num, #especulativo:hover i, #especulativo.objetivo_list_item-active .objetivo_list_num, #especulativo.objetivo_list_item-active i {
      background-color: #f0eefc;
      color: #6e60ea; }

.objetivo_divider {
  height: 75%;
  width: 1px;
  border-color: transparent;
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 55px;
  left: 50%; }
  @media (max-width: 1024px) {
    .objetivo_divider {
      height: 1px;
      width: 70%;
      position: static;
      margin: 40px auto; } }

.objetivo_descr {
  height: inherit;
  height: 300px;
  position: relative; }
  @media (max-width: 1024px) {
    .objetivo_descr {
      min-height: 1px; } }

.objetivo_descr_title {
  font-weight: bold;
  font-size: 28px;
  width: 90%; }

.objetivo_descr_text {
  font-size: 16px;
  margin-top: 25px; }
  .objetivo_descr_text span {
    color: #f5a623; }
  @media (max-width: 1024px) {
    .objetivo_descr_text {
      text-align: justify; } }

.objetivo_descr_measure {
  background-color: #e5e8eb;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 10px; }
  @media (max-width: 1024px) {
    .objetivo_descr_measure {
      display: none; } }

.objetivo_descr_measure_fill {
  border-radius: 5px;
  height: 100%;
  width: 0;
  transition: all 0.4s;
  background-color: #f5a623;
  position: relative; }

.objetivo_descr_measure_popup {
  background-color: white;
  color: #f5a623;
  display: inline-block;
  margin-left: auto;
  width: 160px;
  position: absolute;
  right: 0;
  top: -70px;
  text-align: center;
  box-shadow: 0 5px 67px 0 rgba(43, 59, 78, 0.2); }
  @media (max-width: 1024px) {
    .objetivo_descr_measure_popup {
      -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      transform: translateX(-25%); } }

.objetivo_descr_measure_popup_cont {
  padding: 15px 0;
  position: relative; }
  .objetivo_descr_measure_popup_cont:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 45%;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }

.objetivo_descr_measure_popup_num {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #f5a623;
  height: 20px;
  width: 20px;
  border-radius: 60px;
  line-height: 20px;
  margin-right: 5px;
  transition: all 0.3s;
  font-size: 14px; }

.horizonte_block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 140px; }

.horizonte_block_text {
  text-align: center;
  margin: 0 auto; }

.horizonte_divider {
  height: 60%;
  width: 1px;
  border-color: transparent;
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 0; }
  @media (max-width: 1024px) {
    .horizonte_divider {
      height: 1px;
      width: 70%;
      position: static;
      margin: 40px auto; } }

#horizonte_value, #liquidez_value {
  margin-top: 0px; }

#desempeno_graph {
  height: 470px;
  width: 100%; }

#composicion_chart {
  margin-top: 30px;
  height: 300px;
  width: 100%; }
  #composicion_chart svg {
    display: block;
    margin: 0 auto; }
