.test1_hero-content-half {
  width: 100%; }

.test1_hero_title {
  width: 50%;
  text-align: center;
  font-size: 42px; }
  @media (max-width: 1000px) {
    .test1_hero_title {
      width: 100%; } }

.test1_hero_text {
  width: 50%;
  text-align: center;
  margin: 0;
  font-size: 20px; }
  @media (max-width: 1000px) {
    .test1_hero_text {
      width: 100%; } }

.test1_index_video-form_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin-top: 40px; }
  @media (max-width: 1000px) {
    .test1_index_video-form_wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.test1_video {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 49.5%; }
  @media (max-width: 1000px) {
    .test1_video {
      width: 100%; } }

.test1_lightbox {
  height: 100%;
  width: 100%; }

.test1_video_img {
  height: 100%; }

.test1_index_form_wrap {
  margin-left: auto;
  width: 48%; }
  @media (max-width: 1000px) {
    .test1_index_form_wrap {
      margin-top: 50px;
      width: 100%; } }

.test1_index_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  border-radius: 5px; }

.test2_index_form {
  background-color: #2b3b4e; }

.test1_index_form_title {
  width: 100%;
  font-size: 28px;
  text-align: center;
  font-weight: 300; }

.test1_index_form_text {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0; }

.test1_index_form_input {
  margin-top: 20px;
  width: 100%;
  padding: 10px 10px 7px 10px;
  border-width: 0;
  border-radius: 5px;
  background-color: white;
  color:#2b3b4e;}

.test1_index_form_input_hidden {
  display: none;
}

.test1_form_input-sm_wrap {
  width: 100%; }

.test1_index_form_input-sm {
  width: 49%; color:#2b3b4e; }
  .test1_index_form_input-sm:last-child {
    float: right; }
  @media (max-width: 768px) {
    .test1_index_form_input-sm {
      width: 100%; } }

.test1_form_divider {
  margin-top: 5px;
  margin-bottom: 10px; }

.test1_form_btn {
  margin-top: 20px; }

.test1_hero_btns {
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px; }
  @media (max-width: 1000px) {
    .test1_hero_btns {
      width: 100%; } }

.test1_hero_btn1 {
  background-color: white;
  color: #2b3b4e; }
  .test1_hero_btn1:hover {
    background-color: #f0f8ff !important; }

.test1_hero_btn2 {
  border-color: white;
  color: white; }

.test3_hero_content_title {
  margin-top: 0px;
  width: 100%; }

.test3_hero_content_text {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px; }
