body {
  background-color: #f0f2f5; }

.navbar {
  background-color: #2b3b4e; }

.main_cont_wrap {
  padding: 90px 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .main_cont_wrap {
      padding: 40px 0 0;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.main_cont_block {
  width: 40%;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  font-family: 'Lato';
  color: #2b3b4e;
  padding: 45px 50px; }
  @media (max-width: 768px) {
    .main_cont_block {
      width: 80%;
      margin-bottom: 40px;
      padding: 40px 30px; } }

.inicia_title {
  font-weight: 28px;
  margin-bottom: 45px; }

.inicia_form_input {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  border-color: #a5acb4;
  transition: all 0.3s; }
  .inicia_form_input:active, .inicia_form_input:focus {
    border-color: #f5a623;
    color: #f5a623;
    background-color: white; }

.inicia_form_btn {
  color: white;
  border: 1px solid #f5a623;
  background-color: #f5a623;
  padding: 8px 30px;
  transition: all 0.3s;
  font-size: 16px; }
  .inicia_form_btn:hover, .inicia_form_btn:focus {
    background-color: rgba(203, 203, 203, 0.56);
    color: white; }

.inicia_form_forgot {
  margin-left: 25px;
  cursor: pointer;
  transition: all 0.3s; }
  .inicia_form_forgot:hover {
    color: #f5a623; }
  @media (max-width: 500px) {
    .inicia_form_forgot {
      display: block;
      margin-top: 10px;
      margin-left: 0;
      width: 100%; } }

.abre_block {
  text-align: center; }

.abre_icon {
  height: 150px;
  width: 150px;
  font-size: 20px;
  font-weight: bold; }

.abre_title {
  margin-top: 20px; }

.abre_text {
  font-size: 16px;
  margin-top: 15px; }

.abre_btn {
  background-color: #62adf5;
  color: white;
  margin-top: 10px;
  transition: all 0.3s;
  outline: none;
  padding: 8px 30px;
  font-size: 16px; }
  .abre_btn:hover {
    color: white;
    background-color: #288ceb; }
