.hero-area {
    min-height: 500px;
    padding-bottom: 50px;
    position: relative;
    background: url('../img/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(13, 30, 50, .8);
    left: 0;
    top: 0;
}

.hero-area .container {
    position: relative;
}

.hero_content_title {
    font-family: 'Lato';
    font-size: 55px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.hero_content_text {
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 300;
    line-height: 1.36;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    margin-bottom: 60px;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.hero-btns .btn {
    margin-bottom: 10px;
}

.hero-btn1 {
    width: 188px;
    height: 50px;
    border-radius: 5px;
    background-color: #f5a623;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 5px 10px;
}

.hero-btn1:hover,
.hero-btn1:focus {
    color: #fff;
    background-color: #E39109;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.hero-btn2 {
    width: 188px;
    height: 50px;
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, .35);
    background-color: transparent;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #cbcbcb;
    margin: 5px 10px;
}

.hero-btn2:hover,
.hero-btn2:focus {
    color: #000;
    background-color: #BBC1C6;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

/*------------- end hero area -----------*/

.home-widgets-area {
    background-color: #f1f3f5;
    padding-top: 25px;
    padding-bottom: 55px;
}

.home-single-widget {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.home-widget-img {
    height: 152px;
    width: 152px;
    text-align: center;
    border-radius: 132px;
    border: 11px solid #FAFAFB;
    position: relative;
    display: inline-block;
    background-color: #fff
}

.home-widget-img img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.home-widget-content h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 1.6px;
    text-align: center;
    color: #2c3c4e;
}

.home-widget-content p {
    font-size: 16px;
    letter-spacing: 1.3px;
    color: #2c3c4e;
    max-width: 291px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*------------- end home widget area ----------*/

.graph-area {
    background-color: #f5a623;
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
}

.graph-area h3 {
    font-size: 27px;
    color: #ffffff;
    margin-bottom: 65px;
}

.graph {
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.63);
}

.graph img {
    max-width: 100%;
}

#chart {
    width: 710px;
    border-radius: 7px;
    padding: 50px 30px;
    margin: 30px auto 0;
    display: block;
    background-image: linear-gradient(235deg, rgb(43, 57, 75), rgb(34, 46, 61));
    box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.63);
}

#chart #numbers {
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 9px;
    display: inline-block;
    float: left;
}

#chart #numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 85px;
    border-bottom: 1px solid #444;
    position: relative;
    bottom: 30px;
}

#chart #numbers li span {
    color: #eee;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 20px;
}

#chart #bars {
    display: inline-block;
    width: 580px;
    height: 300px;
    padding: 0;
    margin: 0;
    float: left;
    box-shadow: 0 0 0 1px #444;
}

#chart #bars li {
    display: table-cell;
    width: 85px;
    height: 300px;
    margin: 0;
    text-align: center;
    position: relative;
}

#chart #bars li .bar {
    display: block;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fad961+0,da6222+100 */
    background: #fad961; /* Old browsers */
    background: -moz-linear-gradient(top, #fad961 0%, #da6222 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fad961 0%, #da6222 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fad961 0%, #da6222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fad961', endColorstr='#da6222', GradientType=0); /* IE6-9 */
    position: absolute;
    bottom: 0;
}

#chart #bars li .bar:hover {

}

#chart #bars li .bar:before {
    color: #fad961;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}

#chart #bars li span {
    color: #eee;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    bottom: -42px;
}

#chart #bars li span:hover {
    color: #A4782E;
}

#chart #bars .dots span {
    color: #fff;
    display: block;
    position: relative;
    height: 42px;
    bottom: -37px !important;
}

#chart #bars .dots {
    position: absolute;
    bottom: 5px !important;
    width: 100%;
    height: 100%;
}

/*------------- end graph area ----------*/

.bordered-heading {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

.bordered-heading:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #f5a623;
    bottom: -30px;
    left: 50%;
    margin-left: -25px;
}

.invest-steps .bordered-heading {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    color: #314256;
    margin-top: 90px;
    margin-bottom: 100px;
}

.invest-steps {
    padding-bottom: 60px;
}

.invest-step-widget {
    margin-bottom: 30px;
}

.invest-widget-img {
    display: block;
    position: relative;
    height: 100px;
}

.invest-widget-img img {
    position: absolute;
    left: 20%;
    bottom: 0;
    top: 0;
    margin: auto;
}

.invest-widget-content h3 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.6px;
    color: #2c3c4e;
    margin-top: 25px;
    margin-bottom: 15px;
}

.invest-widget-content h3 span {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 40px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 23px 0 rgba(49, 66, 86, 0.2);
    display: inline-block;
}

.invest-widget-content p {
    font-size: 16px;
    letter-spacing: 1.3px;
    color: #2c3c4e;
}

/*--------------- end invest steps -----------*/

.specifications-area {
    background: url('../img/person.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 90px;
}

.specifications-area .specifications-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(13, 30, 50, .9);
}

.specifications-area .container {
    position: relative;
}

.rounded-check-list li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
}

.rounded-check-list li:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    background: url('../img/fill-1-copy.png') no-repeat center center;
    height: 26px;
    width: 26px;
}

.rounded-check-list li h3 {
    font-size: 28px;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.rounded-check-list li p {
    font-size: 16px;
    letter-spacing: 0.9px;
    color: rgb(203, 203, 203);
    line-height: 19px;
}

#mbl-spec-slider .item {
    text-align: center;
}

#mbl-spec-slider .item img {
    margin-left: auto;
    margin-right: auto;
}

#mbl-spec-slider .carousel-indicators {
    bottom: -50px
}

#mbl-spec-slider .carousel-indicators .active {
    background-color: #F5A623;
    height: 10px;
    width: 10px;
}

#mbl-spec-slider .carousel-indicators li {
    border-color: #F5A623;
    margin: 0 2.5px;
}

/*---------------- end specifications area -------------*/

.strategies {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 90px;
}

.strategies h2 {
    font-size: 45px;
    font-weight: 300;
    color: #2c3c4e;
    margin-bottom: 92px;
}

.strategies p {
    font-size: 16px;
    letter-spacing: 1.3px;
    color: rgb(44, 60, 78);
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}

.strategies p span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

/*------------------ end strategies -------------*/

.featured-strategies {
    background-color: #f0f2f5;
    padding-top: 70px;
    padding-bottom: 100px;
}

.featured-strategies h2 {
    font-size: 45px;
    font-weight: 300;
    color: #2c3c4e;
    margin-bottom: 135px;
}

.single-fs-widget {
    border-radius: 5px;
    overflow: hidden;
    max-width: 320px;
    width: 100%;
    margin: 0 auto 110px;
    box-shadow: 0 15px 60px 10px rgba(13, 36, 62, 0.2);
}

.fs-widget-top {
    height: 40px;
    background-color: #2b3b4e;
}

.fs-widget-body {
    background-color: #fff;
    padding: 22px 0;
}

.fs-widget-bottom {
    background-color: #f1f3f5;
    height: 40px;
    box-shadow: inset 0 1px 0 0 rgba(203, 203, 203, 0.39);
}

.fs-widget-top {
    padding: 0 15px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-transform: uppercase;
}

.fs-widget-top span {
    font-weight: normal;
    color: #cbcbcb;
    text-transform: none;
}

.fs-top-left {
    float: left;
    line-height: 40px;
}

.fs-top-right {
    float: right;
    line-height: 40px;
}

.fs-widget-body {
    text-align: center;
}

.fs-progress {
    float: left;
    width: 51%;
    display: block;
    position: relative;
}

.fs-progress:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    height: 80px;
    width: 1px;
    background-color: #f6a623;
}

.fs-progress-percent, .fs-objects {
    font-size: 50px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: normal;
    color: #f5a623;
    display: block;
}

.fs-progress-percent span {
    font-size: 25px;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    color: #f5a623;
}

.fs-progress-days {
    display: block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #2c3c4e;
    clear: both;
}

.fs-objects span {
    margin-top: 10px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #2c3c4e;
}

.fs-objects {
    float: left;
    margin-left: 40px;
}

.fs-widget-bottom {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 40px;
    color: #2c3c4e;
}

.fs-widget-bottom span {
    font-weight: normal;
}

.fs-btns {
    text-align: center;
}

.fs-btns button {
    height: 50px;
    width: 188px;
    margin: 0 10px 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.fs-btn1 {
    background-color: #2b3b4e;
    color: #fff;
}

.fs-btn1:hover,
.fs-btn1:focus {
    background-color: #222E3D;
    color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.fs-btn2 {
    color: #f5a623;
    border: 1px solid #f6a623;
    background-color: transparent;
}

.fs-btn2:hover,
.fs-btn2:focus {
    background-color: #F6AE39;
    color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

#fs-slider .carousel-indicators .active {
    background-color: #F5A623;
    height: 10px;
    width: 10px;
}

#fs-slider .carousel-indicators li {
    border-color: #F5A623;
    margin: 0 2.5px;
}

/*---------------- end featured strategies area ----------*/

.expert-cta-area {
    background: url('../img/laptop.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: #fff;
    padding-top: 75px;
    padding-bottom: 70px;
}

.expert-cta-area .expert-cta-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(246, 166, 35, .84);
}

.expert-cta-heading h3 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

.expert-cta-content {
    text-align: center;
}

.expert-cta-content p {
    font-size: 17px;
    line-height: 1.38;
    text-align: center;
    color: #2c3c4e;
}

.cta-btn {
    margin-top: 40px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    width: 260px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.cta-btn:hover,
.cta-btn:focus {
    background-color: #D4D8DB;
    border-color: transparent;
    color: #2C3C4E;
}

/*------------- end expert cta area ----------*/

/*----------------- responsive style goes here ---------------*/

@media screen and (max-width: 991px) {
    .fs-progress-percent, .fs-objects {
        font-size: 40px;
    }

    .hero-content {
        padding-bottom: 50px;
    }

    .fs-objects {
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .invest-widget-content h3 span {
        font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    .invest-widget-content h3 {
        font-size: 15px;
        letter-spacing: -1px;
    }

}

@media screen and (max-width: 767px) {
    #chart {
        width: 430px;
    }

    #chart #bars {
        width: 320px;
    }

    #chart #bars li span {
        bottom: -70px;
    }

    .hero_content_title {
        margin-top: 70px;
    }

    .fs-objects {
        margin-left: 40px;
    }

}

@media screen and (max-width: 600px) {

    .home-widgets-area .col-xs-4,
    .invest-steps .col-xs-6 {
        width: 100%;
        float: none;
        text-align: center;
    }

    .invest-widget-img img {
        left: 0;
        right: 0;
    }

    .hide-mbl {
        display: none;
    }

    .show-mbl {
        display: block;
    }

    .specifications-area {
        min-height: 320px;
    }

}

@media screen and (max-width: 480px) {

    #chart #numbers li span {
        font-size: 14px;
    }

    #chart {
        width: 280px;
        padding: 50px 20px;
    }

    #chart #bars {
        width: 198px;
    }

    #chart #numbers {
        width: 30px;
    }

    .specifications-area {
        min-height: 340px;
    }

    .hero-area {
        min-height: 400px;
    }

    .hero_content_title {
        margin-top: 40px;
        font-size: 45px;
    }

    .hero_content_text {
        font-size: 24px;
        margin-bottom: 40px;
    }
}





