.navbar {
  background-color: #2b3b4e; }

body {
  background-color: #f0f2f5; }

.estrats_single {
  background-color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  margin-top: 50px;
  border-radius: 5px; }

.estrats_single_head {
  width: 100%;
  padding: 20px 20px 15px;
  background-color: #2b3b4e;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.estrats_single_head_title {
  font-size: 20px;
  word-spacing: 5px;
  color: rgba(255, 255, 255, 0.7); }
  .estrats_single_head_title span {
    text-transform: uppercase;
    color: white; }

.estrats_single_block {
  width: 20%;
  min-height: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 25px;
  position: relative;
  overflow: hidden; }
  .estrats_single_block:after {
    content: '';
    height: 80%;
    width: 1px;
    background-color: #f5a623;
    position: absolute;
    right: 0; }
  .estrats_single_block:nth-child(2n) {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .estrats_single_block:last-child:after, .estrats_single_block:nth-last-child(2):after {
    content: none; }
  .estrats_single_block:last-child {
    background-color: #f0f2f5;
    border-left: 1px solid black;
    border-color: rgba(0, 0, 0, 0.2); }
  @media (max-width: 1000px) {
    .estrats_single_block {
      width: 50%;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      .estrats_single_block:nth-child(3n):after {
        content: none; }
      .estrats_single_block:last-child {
        width: 100%; } }
  @media (max-width: 1000px) {
    .estrats_single_block:last-child {
      min-height: 100px; }
      .estrats_single_block:last-child * {
        text-align: center;
        font-size: 24px; } }

.estrats_single_percent {
  color: #f5a623;
  font-size: 45px; }

.estrats_single_term {
  font-size: 14px;
  color: #2b3b4e;
  font-weight: bold; }

.estrats_single_subtitle {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.6; }

.estrats_single_value_wrap {
  margin-top: 5px;
  margin-bottom: 10px; }

.estrats_single_big-value {
  color: #2b3b4e;
  font-size: 24px;
  font-weight: bold; }

.estrats_single_objetivo_value {
  font-size: 45px;
  color: #f5a623; }

.estrats_single_liquidez_value {
  font-size: 14px;
  color: #2b3b4e;
  font-weight: bold; }

.estrats_single_sum_value {
  color: #2b3b4e;
  font-size: 16px;
  font-weight: bold; }

.estrats_single_sum_wrap {
  background-color: white;
  width: 100%;
  padding: 10px;
  text-align: right; }

.estrats_total {
  background-color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  margin-top: 50px;
  border-radius: 5px; }

.estrats_total_title {
  color: #2b3b4e;
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px; }
  @media (max-width: 768px) {
    .estrats_total_title {
      font-size: 16px; } }

.estrats_total_sum {
  min-width: 20%;
  height: 80px;
  padding: 0 25px;
  background-color: #f0f2f5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.estrats_total_sum_value_wrap {
  background-color: white;
  width: 100%;
  padding: 10px;
  text-align: right; }

.estrats_total_sum_value {
  color: #2b3b4e;
  font-size: 24px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .estrats_total_sum_value {
      font-size: 24px; } }

.porta_actualisar {
  margin-top: 70px;
  text-align: center;
  font-size: 20px;
  color: #2b3b4e; }

.porta_actualisar_text {
  vertical-align: middle; }

.porta_actualisar_btn {
  background-color: #2b3b4e;
  color: white;
  margin-top: 10px;
  transition: all 0.3s;
  outline: none;
  padding: 8px 30px;
  font-size: 16px;
  margin-left: 10px; }
  .porta_actualisar_btn:hover {
    color: white;
    background-color: #f5a623; }

.conformes_wrap {
  background-color: white;
  margin-top: 100px; }
  @media (max-width: 768px) {
    .conformes_wrap {
      margin-top: 50px; } }

.conformes_cont {
  min-height: 490px;
  text-align: center;
  padding-top: 140px; }
  @media (max-width: 768px) {
    .conformes_cont {
      min-height: 300px;
      padding-top: 80px;
      padding-bottom: 40px; } }

.conformes_subtitle {
  font-size: 27px;
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .conformes_subtitle {
      width: 100%; } }

.conformes_btn {
  color: white;
  border: 1px solid #f5a623;
  background-color: #f5a623;
  padding: 10px 20px;
  margin-top: 55px;
  outline: none; }

.conformes_btn:hover,
.conformes_btn:focus {
  outline: none;
  background-color: #e39109;
  color: white;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
