body {
  background-color: #f0f2f5; }

.navbar {
  background-color: #2b3b4e; }

.cont_block {
  width: 80%;
  background-color: white;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  padding: 80px 50px 50px;
  margin: 60px auto 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .cont_block {
      width: 100%;
      padding: 80px 10px 50px; } }

.cont_single {
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif; }
  .cont_single * {
    padding: 0;
    margin: 0; }

.cont_single_head {
  width: 100%;
  border-color: transparent;
  padding: 20px;
  background-color: #2b3b4e;
  font-size: 20px;
  text-align: left;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
  transition: all 0.4s; }
  @media (max-width: 768px) {
    .cont_single_head {
      font-size: 16px; } }

.cont_single_head_arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid white;
  border-bottom: 7px solid transparent;
  transition: all 0.4s;
  margin-left: 10px; }

.cont_single_head_active {
  background-color: #f5a623; }
  .cont_single_head_active .cont_single_head_arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.cont_single_text {
  background-color: #f0f2f5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
  .cont_single_text p {
    font-size: 16px;
    padding: 25px 20px;
    text-align: left; }
