$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;

.html {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  * {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.navbar {
  background-color: $primary-blue;
}

.block_subtitle {
  line-height: 30px;
}

.buscar_title {
  @media(max-width: 1024px) {
    display: none;
  }
}

.buscar_cont {
  @media(max-width: 768px) {
    width: 100vw;
    padding: 0;
  }
}

.buscar_main-wrap {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

@import "./buscar_modules/filtres";
@import "./buscar_modules/estrats";
@import "./buscar_modules/modals";



