$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;

.navbar {
  background-color: $primary-blue;
}

body{
  color: $primary-blue;
}

.confir_icon {
  display: block;
  margin: 150px auto 0;
  width: 170px;
  height: 115px;
  @media (max-width: 768px) {
    margin-top: 60px;
  }
}

.confir_title {
  text-align: center;
  font-size: 45px;
  margin-top: 75px;
  @media (max-width: 768px) {
    margin-top: 40px;
    font-size: 30px;
  }
}

.confir_text {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
  a {
    color: $primary-yellow;
  }
  @media (max-width: 768px) {
    margin-top: 20px;
    font-size: 18px;
  }
}

.block_divider {
  margin-top: 65px;
  @media (max-width: 768px) {
    margin-top: 30px;
  }
}

.confir_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  counter-reset: steps;
  padding: 0;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.confir_list_item {
  width: 25%;
  @media (max-width: 768px) {
    width: 70%;
    margin-top: 20px;
  }
  @media (max-width:500px) {
    width: 100%;
  }
}

.confir_list_item-title {
  font-size: 25px;
  font-weight: bold;
  &:before {
    counter-increment: steps;
    content: counter(steps);
    font-size: 18px;
    box-shadow: 0 0 40px 0 rgba(43, 59, 78, 0.2);
    padding: 10px 15px;
    background-color: white;
    border-radius: 100%;
    display: inline;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
  }
}

.confir_list_item-text {
  font-size: 16px;
}