$primary-blue : #2b3b4e;
$primary-gray : #f0f2f5;
$primary-yellow: #f5a623;

.navbar {
  background-color: $primary-blue;
}

.contactenos_wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 90px;
  @media(max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.contactenos_single{
  width: 25%;
  text-align: center;
  font-size: 16px;
  @media(max-width: 768px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.contactenos_single_img{
  display: block;
  height: 155px;
  width: auto;
  margin: 0 auto;
}

.contactenos_single_title{
  margin-top: 20px;
  font-size: 22px;
}

.contactenos_single_text{
  font-weight: bold;
  margin-top: 5px;
  font-size: 25px;
}

.contactenos_map{
  display: block;
  height: 500px;
  margin-top: 190px;
  @media(max-width: 768px) {
    margin-top: 50px;
  }
}

.map_popup {
  padding: 20px 0 10px;
  font-size:16px;
  width: 300px;
  text-align: center;
  font-weight: 500;
}