$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;

.navbar {
  background-color: $primary-blue;
}

.block_subtitle {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 778px) {
    width: 100%;
  }
}

.datos_block {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  font-family: 'Lato';
  color: $primary-blue;
  padding: 45px 50px;
  width: 778px;
  margin: 60px auto 0;
  @media (max-width: 778px) {
    width: 100%;
  }
}

.datos_block_title {
  font-weight: 28px;
  margin-bottom: 45px;
  font-weight: bold;
  width: 100%;
}

.datos_form {
  text-align: justify;
}

.datos_form_input {
  display: block;
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  border-color: #a5acb4;
  transition: all 0.3s;
  width: 100%;
  &:active, &:focus {
    border-color: $primary-yellow;
    color: $primary-yellow;
    background-color: white;
  }
}

.datos_form_input_small {
  display: inline-block;
  @media (min-width: 778px ) {
    width: 48%;
  }
  &:nth-child(2n){
  }
}

.datos_form_btn {
  display: block;
  color: white;
  border: 1px solid $primary-yellow;
  background-color: $primary-yellow;
  padding: 8px 30px;
  transition: all 0.3s;
  font-size: 16px;
  page-break-before: always;
  &:hover, &:focus {
    background-color: #e39109;
    color: white;
  }
}

#csc {
  background: url(../img/abre-tu-cuenta/icons/card.png) no-repeat;
  background-size: 25px 17px;
  background-position: 95%;
  padding-right: 50px;
}