$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;

.navbar {
  background-color: $primary-blue;
}

.search_wrap {
  position: fixed;
  top: 73px;
  z-index: 100;
}

.search {
  @media (min-width: 1024px) {
    height: 0;
    overflow: hidden;
  }
}

.detalle_sticky {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:before, &:after {
    content: none;
  }
  * {
    margin: 0;
    padding: 0;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.detalle_sticky_title {
  font-size: 20px;
  margin-right: auto;
}

.detalle_sticky_btn {
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  padding: 10px 35px;
  margin-right: 5px;
}

#stickyBtnInvertir {
  color: white;
  background-color: $primary-yellow;
  &:hover, &:focus {
    background-color: #e39109;
    color: white;
  }
}

#stickyBtnRegresar {
  background-color: transparent;
  border-color: $primary-blue;
  &:hover, &:focus {
    background-color: $primary-blue;
    color: white;
  }
}

@keyframes hideSticky {
  0% {
    overflow: visible;
  }
  95% {
    transform: scale(0.01);
    overflow: visible;
  }
  100% {
    transform: scale(0.01);
    display: none;
    overflow: hidden;
  }
}

@keyframes showSticky {
  0% {
    overflow: hidden;
    transform: scale(0.01);
    visibility: visible;
  }
  100% {
    overflow: visible;
    transform: scale(1);
    visibility: visible;
  }
}

.detalle_sticky_hide {
  @media (min-width: 1024px) {
    .detalle_sticky {
      * {
        animation: hideSticky 0.5s forwards;
      }
    }
    .search {
      animation: showSticky 0.5s 0.5s forwards;
    }
  }
}

.detalle_sticky_show {
  @media (min-width: 1024px) {
    .search {
      animation: hideSticky 0.5s forwards;
    }
    .detalle_sticky {
      * {
        transform: scale(0.01);
        animation: showSticky 0.5s 0.5s forwards;
      }
    }
  }
}

.detalle_cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detalle_estrat {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  margin-top: 50px;
  border-radius: 5px;
  width: 100%;
}

.detalle_estrat_head {
  order: 0;
  width: 100%;
  padding: 20px 20px 15px;
  background-color: $primary-blue;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 20px;
  word-spacing: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.detalle_estrat_head_title {
  display: inline-block;
  margin: 0;
  span {
    text-transform: uppercase;
    color: white;
  }
  @media (max-width: 1024px) {
    display: block;
  }
}

.detalle_estrat_head_date {
  float: right;
  @media (max-width: 1024px) {
    display: none;
  }
}

.detalle_estrat_block {
  order: 0;
  width: 25%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: left;
  &:after {
    content: '';
    height: 80%;
    width: 1px;
    background-color: $primary-yellow;
    position: absolute;
    right: 0;
  }
  &:last-child {
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    &:after {
      content: none;
    }
  }
  @media (max-width: 1024px) {
    width: 50%;
    align-items: center;
    text-align: center;
    &:nth-child(3n) {
      &:after {
        content: none;
      }
    }
    &:last-child {
      align-items: center;
    }
  }
  @media (max-width: 1024px) {
    &:last-child {
      min-height: 100px;
      * {
        text-align: center;
        font-size: 24px;
      }
    }
  }
}

.detalle_estrat_percent {
  color: $primary-yellow;
  font-size: 45px;
}

.detalle_estrat_term {
  font-size: 14px;
  color: $primary-blue;
}

.detalle_estrat_subtitle {
  font-size: 14px;
  font-weight: normal;
}

.detalle_estrat_value_wrap {
  margin-top: 5px;
  margin-bottom: 10px;
}

.detalle_estrat_big-value {
  color: $primary-blue;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.detalle_estrat_fondos_value, .detalle_estrat_operadoras_value {
  span {
    font-weight: normal;
    font-size: 16px !important;
  }
}

.estrat_block_objetivo {
  .detalle_estrat_term {
    display: none;
  }
  @media (max-width: 1024px) {
    .detalle_estrat_subtitle, div {
      display: none;
    }
    .detalle_estrat_term {
      display: block;
    }
  }
}

.estrat_comision_wrap {
  position: relative;
  width: 100%;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0.4;
    width: 100%;
    height: 1px;
    background-color: $primary-blue;
  }
}

.detalle_estrat_objetivo_value {
  font-size: 45px;
  color: white;
  background-color: #62adf5;
  padding: 0 20px;
  border-radius: 100%;
  margin: 10px auto;
}

.detalle_estrat_btn {
  color: white;
  background-color: #62adf5;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  margin: 120px auto 0;
  display: block;
  padding: 10px 35px;
  &:hover, &:focus {
    background-color: #288ceb;
    color: white;
  }
  @media (max-width: 1024px) {
    width: 70%;
  }
}

.estrat_mobile_divider {
  display: none;
  opacity: 0.4;
  width: 85%;
  height: 1px;
  background-color: $primary-blue;
}

@media (max-width: 1024px) {
  .estrat_block_diver, .estrat_block_comision, .estrat_mobile_divider {
    order: 1;
  }
  .estrat_mobile_divider {
    display: block;
  }
  .estrat_block_comision:after{
      content: ''!important;
      height: 80%;
      width: 1px;
      background-color: $primary-yellow;
      position: absolute;
      right: 0;
  }
  .estrat_block_objetivo:after {
    content: none;
  }
}

.detalle_modal_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  transition: all 0.4s;
  opacity: 0;
}

.detalle_modal_visible {
  opacity: 1;
  z-index: 10;
}

.detalle_modal_body {
  background-color: white;
  padding: 40px 35px;
  width: 520px;
  min-height: 360px;
  margin: 200px auto 0;
  border-radius: 5px;
  color: $primary-blue;
  text-align: justify;
  @media(max-width: 768px) {
    width: 80%;
  }
  p {
    font-size: 16px;
    margin-top: 40px;
  }
  span {
    font-weight: bold;
  }
}

.detalle_modal_title {
  font-size: 28px;
  font-weight: bold;
}

#irAPortafolio {
  background-color: $primary-blue;
  width: 185px;
  &:hover, &:focus {
    background-color: rgba(203, 203, 203, 0.56);
    color: white;
  }
}

#regresarAStrategia {
  background-color: $primary-yellow;
  margin-left: 30px;
  width: 230px;
  &:hover, &:focus {
    background-color: #e39109;
    color: white;
  }
}

#irAPortafolio, #regresarAStrategia {
  margin-top: 30px;
  padding: 8px 30px;
  transition: all 0.3s;
  font-size: 16px;
  color: white;
  text-align: center;
  @media (max-width: 768px) {
    display: block;
    width: 90%;
    margin: 20px auto 0;
    outline: hidden;
  }
}

.detalle_block {
  width: 48%;
  border-radius: 5px;
  background-color: white;
  padding: 55px 55px;
  margin-top: 40px;
  color: $primary-blue;
  &:last-child {
    margin-left: auto;
  }
  @media (max-width: 1024px) {
    padding: 40px 10px 30px;
    width: 100%;
    margin-top: 20px;
  }
}

.detalle_block_title {
  font-weight: bold;
  font-size: 28px;
  padding-left: 20px;
  width: 90%;
  position: relative;
  &:before {
    content: ' ';
    border: 3px solid $primary-yellow;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    position: absolute;
    top: 15px;
    left: 0px;
  }
}

.detalle_block_title_info {
  display: inline-block;
  width: 30px;
  color: #62adf5;
  font-size: 15px;
  margin-left: 10px;
  cursor: help;
  position: absolute;
  &:after {
    content: attr(data-info);
    position: absolute;
    background-color: white;
    transform: translateY(-100%) translateX(-50%);
    font-size: 14px;
    padding: 15px;
    box-shadow: 0 5px 67px 0 rgba(43, 59, 78, 0.2);
    min-width: 300px;
    opacity: 0;
    z-index: -10;
    color: $primary-blue;
    text-align: justify;
    transition: opacity 0.3s, z-index 0.3s;
    @media (max-width: 768px) {
      min-width: 0px;
      width: 180px;
      transform: translateX(-100%);
      text-align: left;
    }
  }
  &:hover::after {
    opacity: 1;
    z-index: 10;
  }
}

.detalle_block_title_info_tooltip {
  display: inline-block;
  position: relative;
}

.detalle_block_subtitle {
  font-size: 16px;
  margin-top: 10px;
  padding-left: 20px;
}

.detalle_block_big-value {
  font-size: 45px;
  text-align: center;
  margin-top: 35px;
}

.detalle_block_text {
  font-size: 16px;
  text-align: center;
  span {
    color: $primary-yellow;
    font-weight: bold;
  }
  @media (max-width: 1024px) {
    text-align: justify;
  }
}

.detalle_block_table_wrap {
  margin-top: 35px;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

.detalle_block_table {
  width: 100%;
  th, td {
    padding: 20px;
  }
  tr:nth-child(2n + 1) {
    background-color: #fce8c8;
  }
  tr:first-child {
    border-bottom: 1px solid black;
    border-color: rgba(0, 0, 0, 0.25);
    background-color: white;
  }
}

.detalle_block_list {
  margin-top: 35px;
  list-style: none;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0;
}

.detalle_block_list_item {
  font-size: 16px;
  padding: 13px 20px;
  width: 100%;
  &:nth-child(2n) {
    background-color: #fce8c8;
  }
}

.objetivo, .desempeno {
  width: 100%;
}

.objetivo, .horizonte {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.objetivo_block, .horizonte_block {
  width: 45%;
  box-sizing: border-box;
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.objetivo_list {
  border-color: transparent;
}

.objetivo_list_item {
  font-size: 16px;
  padding: 13px 20px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  i {
    float: right;
    color: transparent;
    background-color: transparent;
    padding: 6px;
    font-size: 12px;
    border-radius: 100%;
  }
}

.objetivo_list_num {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: $primary-blue;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  line-height: 25px;
  margin-right: 20px;
  transition: all 0.3s;
}

#conservador {
  color: #97cd57;
  background-color: #e8f5db;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .objetivo_list_num {
    background-color: #97cd57;
  }
  &:hover, &.objetivo_list_item-active {
    background-color: #97cd57;
    color: white;
    .objetivo_list_num, i {
      background-color: #e8f5db;
      color: #97cd57;
    }
  }
}

#moderno {
  color: #f5a623;
  background-color: #fff0db;
  .objetivo_list_num {
    background-color: #f5a623;
  }
  &:hover, &.objetivo_list_item-active {
    background-color: #f5a623;
    color: white;
    .objetivo_list_num, i {
      background-color: #fff0db;
      color: #f5a623;
    }
  }
}

#emprendedor {
  color: #db2837;
  background-color: #f8d4d7;
  .objetivo_list_num {
    background-color: #db2837;
  }
  &:hover, &.objetivo_list_item-active {
    background-color: #db2837;
    color: white;
    .objetivo_list_num, i {
      background-color: #f8d4d7;
      color: #db2837;
    }
  }
}

#agresivo {
  color: #73bff7;
  background-color: #e3f2fd;
  .objetivo_list_num {
    background-color: #73bff7;
  }
  &:hover, &.objetivo_list_item-active {
    background-color: #73bff7;
    color: white;
    .objetivo_list_num, i {
      background-color: #e3f2fd;
      color: #73bff7;
    }
  }
}

#especulativo {
  color: #6e60ea;
  background-color: #f0eefc;
  .objetivo_list_num {
    background-color: #6e60ea;
  }
  &:hover, &.objetivo_list_item-active {
    background-color: #6e60ea;
    color: white;
    .objetivo_list_num, i {
      background-color: #f0eefc;
      color: #6e60ea;
    }
  }
}

.objetivo_divider {
  height: 75%;
  width: 1px;
  border-color: transparent;
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 55px;
  left: 50%;
  @media (max-width: 1024px) {
    height: 1px;
    width: 70%;
    position: static;
    margin: 40px auto;
  }
}

.objetivo_descr {
  height: inherit;
  height: 300px;
  position: relative;
  @media (max-width: 1024px) {
    min-height: 1px;
  }
}

.objetivo_descr_title {
  font-weight: bold;
  font-size: 28px;
  width: 90%;
}

.objetivo_descr_text {
  font-size: 16px;
  margin-top: 25px;
  span {
    color: $primary-yellow;
  }
  @media (max-width: 1024px) {
    text-align: justify;
  }
}

.objetivo_descr_measure {
  background-color: #e5e8eb;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 10px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.objetivo_descr_measure_fill {
  border-radius: 5px;
  height: 100%;
  width: 0;
  transition: all 0.4s;
  background-color: $primary-yellow;
  position: relative;
}

.objetivo_descr_measure_popup {
  background-color: white;
  color: $primary-yellow;
  display: inline-block;
  margin-left: auto;
  width: 160px;
  position: absolute;
  right: 0;
  top: -70px;
  text-align: center;
  box-shadow: 0 5px 67px 0 rgba(43, 59, 78, 0.2);
  @media (max-width: 1024px) {
    transform: translateX(-25%);
  }
}

.objetivo_descr_measure_popup_cont {
  padding: 15px 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 45%;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.objetivo_descr_measure_popup_num {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: $primary-yellow;
  height: 20px;
  width: 20px;
  border-radius: 60px;
  line-height: 20px;
  margin-right: 5px;
  transition: all 0.3s;
  font-size: 14px;
}

.horizonte_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 140px;
}

.horizonte_block_text {
  text-align: center;
  margin: 0 auto;
}

.horizonte_divider {
  height: 60%;
  width: 1px;
  border-color: transparent;
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 0;
  @media (max-width: 1024px) {
    height: 1px;
    width: 70%;
    position: static;
    margin: 40px auto;
  }
}

#horizonte_value, #liquidez_value {
  margin-top: 0px;
}

#desempeno_graph {
  height: 470px;
  width: 100%;
}

#composicion_chart {
  margin-top: 30px;
  height: 300px;
  width: 100%;
  svg {
    display: block;
    margin: 0 auto;
  }
}