$primary-blue: #2c3c4e;
$primary-yellow: #f5a623;

.hero-area {
  min-height: 570px;
  position: relative;
  background: url('../img/funciona/bgs/hero_funciona-bg.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  @media (max-width: 768px) {
    height: auto;
  }
}

.hero-area .container {
  position: relative;
}

.hero-area h1 {
  font-family: 'Lato';
  font-size: 55px;
  margin-top: 130px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  @media (max-width: 768px) {
    margin-top: 100px;
  }
}

.hero-area p {
  font-family: 'Lato';
  font-size: 28px;
  font-weight: 300;
  line-height: 1.36;
  word-spacing: 5px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  margin-bottom: 90px;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.expertos_single {
  font-family: 'Lato';
  color: $primary-blue;
  &:hover {
    .expertos_cont_img {
      box-shadow: 0 41px 80px 10px rgba(43, 59, 78, 0.4);
    }
  }
  @media(max-width: 762px) {
    .expertos_single_cont {
      flex-direction: column;
    }
    &:nth-child(2n+2) .expertos_single_cont {
      flex-direction: column-reverse;
    }
  }
}

.expertos_yellow {
  background-color: $primary-yellow;
  color: white;
}

.expertos_blue {
  background-color: $primary-blue;
  color: white;
}

.expertos_single_cont {
  padding: 0;
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expertos_cont_img {
  width: 35%;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.3s;
  @media(max-width: 762px) {
    width: 70%;
    margin: 20px auto;
  }
}

.expertos_cont_text {
  width: 40%;
  h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    font-weight: lighter;
  }
  @media(max-width: 762px) {
    width: 80%;
    h2 {
      text-align: center;
    }
    p {
      text-align: justify;
      margin-bottom: 20px;
    }
  }
}

.expertos_cont_list {
  padding: 0 3%;
  font-size: 16px;
  li {
    margin-bottom: 20px;
  }
}

.cards_cont {
  min-height: 455px;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
}

.cards_single {
  height: auto;
  width: 28%;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-family: "Lato";
  color: $primary-blue;
  padding: 0 20px 20px;
  filter: grayscale(100);
  opacity: 0.6;
  &:hover {
    box-shadow: 0 41px 80px 10px rgba(43, 59, 78, 0.4);
    filter: grayscale(0);
    opacity: 1;
  }
  @media(max-width: 1000px) {
    filter: grayscale(0);
    min-height: 600px;
    opacity: 1;
  }
}

.cards_single_img {
  width: 100px;
  height: 115px;
  margin: 60px auto 0;
  display: block;
}

.cards_single_title {
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  font-size: 25px;
}

.cards_single_list {
  margin-top: 30px;
  list-style: none;
  padding: 0 0 0 20px;
  li {
    margin-top: 15px;
    position: relative;
    font-size: 16px;
    width: 90%;
    &:before {
      content: ' ';
      border: 3px solid $primary-yellow;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 70px;
      -moz-border-radius: 70px;
      border-radius: 70px;
      position: absolute;
      top: 7px;
      left: -20px;
    }
  }
}

#cardsCarousel {
  .carousel-inner {
    padding-bottom: 50px;
  }
  .cards_single {
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    @media(max-width: 500px) {
      width: 80%;
    }
  }
  .carousel-indicators {
    bottom: 0 !important;
    li {
      border-color: $primary-yellow;
      margin: 10px 2.5px;
    }
  }
  .carousel-indicators .active {
    background-color: $primary-yellow;
    height: 10px;
    width: 10px;
  }
  .carousel-control {
    background-image: none;
  }
  .glyphicon-chevron-left {
    height: 20px;
    width: 11px;
    background-image: url(../img/funciona/icons/slider-arrow_left.svg);
    background-size: cover;
    &:before {
      content: none;
    }
  }
  .glyphicon-chevron-right {
    height: 20px;
    width: 11px;
    background-image: url(../img/funciona/icons/slider-arrow_right.svg);
    background-size: cover;
    &:before {
      content: none;
    }
  }
}

.objetivos_wrap {
  background-image: url(../img/funciona/bgs/objetivos_bg.jpg);
  background-size: cover;
  font-family: "Lato";
  color: white;
}

.objetivos_cont {
  text-align: center;
  height: auto;
  padding: 40px 0;
}

.block_title {
  font-weight: lighter;
  font-size: 45px;
  width: 60%;
  margin: 120px auto 0;
  @media (max-width: 768px) {
    margin-top: 30px;
    width: 90%;
  }
}

.block_divider {
  width: 50px;
  border-width: 3px;
  border-color: $primary-yellow;
  margin-top: 40px;
}

.block_subtitle {
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
  @media (max-width: 768px) {
    margin: 30px auto 0;
    width: 90%;
  }
}

.tabs_wrap {
  margin-top: 60px;
  width: 100%;
  * {
    margin: 0;
    padding: 0;
  }
;
}

.tabs_heads {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.tabs_heads_single {
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
  background-color: $primary-blue;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.tabs_heads_single_active {
  background-color: $primary-yellow;
}

.tabs_cont {
  width: 100%;
  background-color: #f0f2f5;
  overflow: hidden;
  padding: 50px 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tabs_single {
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transition: all 0.4s;
  left: 30px;
  padding: 20px 30px;
  display: none;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    display: flex;
  }
}

.tabs_single_active {
  display: flex;
}

.tabs_single_title {
  color: $primary-blue;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 22px;
  @media (max-width: 1000px) {
    text-align: center;
  }
  @media (max-width: 600px) {
    order: 1;
  }
}

.tabs_single_text {
  color: $primary-blue;
  display: inline-block;
  width: 50%;
  text-align: left;
  border-left: 3px solid $primary-yellow;
  padding-left: 30px;
  ul {
    margin-top: 30px;
    list-style: none;
    li {
      margin-bottom: 5px;
      &:before {
        content: "−";
        margin-right: 15px;
      }
    }
  }
}

.tabs_single_img {
  margin-right: 10%;
  width: 220px;
  @media (max-width: 600px) {
    order: 2;
  }
}

.mob-tabs_wrap {
  width: 100%;
  margin-top: 20px;
}

.mob-tab_head {
  display: block;
  width: 100%;
  background-color: $primary-blue;
  border-width: 0px;
  padding: 10px 30px;
  margin: 0 auto;
  transition: all 0.4s;
  border-width: 0px;
  border-bottom: 1px solid white;
  outline: none;
}

.mob-tab_cont {
  width: 100%;
  background-color: #f0f2f5;
  color: $primary-blue;
  margin: 0 auto;
  padding: 0;
  .tabs_single {
    justify-content: space-around;
    height: auto;
    padding-bottom: 50px;
    .tabs_single_img {
      margin: 0 0 15px 0;
    }
    @media (max-width: 600px) {
      flex-direction: column-reverse;
      .tabs_single_text {
        width: 90%;
      }
    }
    ul {
      padding: 0;
    }
  }
}

.mob-tab_head_active {
  background-color: $primary-yellow;
}

.buscar_wrap {
  background-color: #f0f2f5;
}

.buscar_cont {
  min-height: 490px;
  text-align: center;
  padding-top: 140px;
  @media(max-width: 768px) {
    min-height: 300px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.buscar_subtitle {
  font-size: 27px;
  width: 80%;
  margin: 0 auto;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.buscar_btn {
  color: white;
  border: 1px solid $primary-yellow;
  background-color: $primary-yellow;
  padding: 10px 20px;
  margin-top: 55px;
  outline: none;
}

.buscar_btn:hover,
.buscar_btn:focus {
  outline: none;
  background-color: #e39109;
  color: white;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}