$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;

body {
  background-color: $primary-gray;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  max-width: 124px;
}

.navbar-toggle {
  margin-top: 18px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.sticky-wrapper.is-sticky {
  z-index: 999999;
  position: relative;
}

.sticky-wrapper.is-sticky .navbar {
  position: relative;
  background-color: #2b3b4e;
  -webkit-transition: background-color .35s;
  -o-transition: background-color .35s;
  transition: background-color .35s;
}

.navbar {
  border-radius: 0;
  z-index: 1000;
}

.navbar-nav {
  margin-top: 15px;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
}

.navbar-nav > li > .reg-btn {
  border: solid 1px rgb(203, 203, 203);
  margin-right: 15px;
  margin-left: 5px;
}

.navbar-nav > li > .expert-reg-btn {
  background-color: rgba(203, 203, 203, 0.56);
  margin-bottom: 19px;
}

.navbar-nav > li > .reg-btn:hover,
.navbar-nav > li > .reg-btn:focus,
.navbar-nav > li > .expert-reg-btn:hover,
.navbar-nav > li > .expert-reg-btn:focus {
  background-color: #69737E;
  color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.navbar-nav > li > .separator:after {
  content: "|";
  color: #fff;
  margin-left: 25px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  color: #F5A623;
}

.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar.first {
  top: 6px;
  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar.middle {
  opacity: 0;
}

.navbar-toggle.active .icon-bar.last {
  top: -6px;
  transform: rotate(-45deg);
}

.activeLink {
  background-color: transparent;
  color: #F5A623 !important;
}

footer {
  background-color: #2b3b4e;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
}

.footer-logo {
  display: block;
  margin-bottom: 10px;
}

.footer-logo-area {
  max-width: 220px;
  float: left;
}

.footer-logo-text {
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #cbcbcb;
}

.footer-smi {
  float: right;
  margin-top: 15px;
}

.footer-smi ul li a i {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  line-height: 32px;
  background-color: #7C848D;
  color: #2c3c4e;
  font-size: 16px;
  text-align: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer-smi ul li a:hover i {
  background-color: #ABAFB2;
}

.footer-menu {
  float: right;
  margin-right: 100px;
  margin-top: 20px;
}

.footer-menu ul {
  float: left;
  margin-top: 8px;
  margin-right: 15px;
}

.footer-menu li a {
  font-size: 14px;
  color: #cbcbcb;
  padding: 10px 14px;
}

.expert-reg-btn {
  display: inline-block;
  background: transparent;
  padding: 6px 12px;
  color: #cbcbcb;
  border: solid 1px rgba(203, 203, 203, 0.4);
}

.expert-reg-btn:hover,
.expert-reg-btn:focus {
  background-color: #69737E;
  color: #fff;
  border-color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer-bottom-text {
  clear: both;
  margin-top: 22px;
}

.footer-bottom-text p {
  font-size: 12px;
  line-height: 14px;
  color: #959595;
}

.terms-policy-area a {
  display: inline-block;
  font-size: 13px;
  color: #cbcbcb;
}

.footer-copyright {
  font-size: 13px;
  color: #cbcbcb;
}

.show-mbl {
  display: none;
}

@media screen and (max-width: 1199px) {

  .navbar-nav > li > a {
    padding: 8px 10px;
  }
  .footer-logo-area {
    margin: auto;
    float: none;
  }
  .footer-smi {
    float: none;
    clear: both;
  }
  .footer-menu {
    margin-right: 0;
    float: none;
  }
  .footer-menu ul {
    float: none;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .fs-progress-percent, .fs-objects {
    font-size: 40px;
  }
  .navbar-nav {
    text-align: center;
    margin-top: 19px;
  }
  .navbar-nav > li > a {
    padding: 8px 5px;
    font-size: 9px;
  }
  .navbar-nav > li > .separator:after {
    margin-left: 10px;
  }
  .fs-objects {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav > li > a {
    font-size: 14px;
  }
  .navbar {
    background-color: #2b3b4e;
  }
  .navbar-nav > li > .reg-btn,
  .navbar-nav > li > .expert-reg-btn {
    margin: auto;
    margin-bottom: 15px;
    max-width: 180px;
  }
  .navbar-nav > li > .separator:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 18px auto 0;
  }
  .footer-logo-area {
    float: none;
    margin: auto;
  }
  .footer-menu {
    float: none;
    margin: auto;
  }
  .footer-menu ul {
    float: none;
    width: 100%;
  }
  .footer-menu ul li {
    display: block;
  }
  .footer-menu ul li a {
    display: block;
  }
  .footer-smi {
    display: block;
    float: none;
  }
  .fs-objects {
    margin-left: 40px;
  }
}

//Block Title Styles

.block_title {
  font-size: 45px;
  width: 60%;
  margin: 120px auto 0;
  text-align: center;
  font-weight: 300;
  @media (max-width: 768px) {
    margin-top: 90px;
  }
}

.block_divider {
  width: 50px;
  border-width: 3px;
  border-color: $primary-yellow;
  margin-top: 40px;
}

.block_subtitle {
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
  text-align: center;
  @media (max-width: 768px) {
    margin: 30px auto 0;
    width: 90%;
  }
}

//Search Form Styles

.search_wrap {
  background-color: white;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  padding: 25px 0 20px;
  width: 100%;
}

.search {
  width: 25%;
  margin: 0 auto;
  position: relative;
  @media(max-width: 768px) {
    width: 80%;
  }
}

.search_input {
  width: 100%;
  padding: 5px 40px;
  border-radius: 20px;
  border: 0 none;
  background-color: $primary-gray;
  color: black;
  outline: none;
  transition: all 0.4s;
  font-size: 16px;
  &:focus, &:active {
    background-color: $primary-yellow;
    color: white;
    & + .search_icon {
      color: white;
    }
  }
  &::-webkit-input-placeholder {
    color: #91989c;
  }
  &:-moz-placeholder {
    color: #91989c;
  }
  /* FF 4-18 */
  &::-moz-placeholder {
    color: #91989c;
  }
  /* FF 19+ */
  &:-ms-input-placeholder {
    color: #91989c;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
  /* FF 4-18 */
  &:focus::-moz-placeholder {
    color: transparent;
  }
  /* FF 19+ */
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  /* IE 10+ */
}

.search_icon {
  color: #91989c;
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 16px;
  transition: all 0.4s;
}

//General Contacts Style

.main_divider {
  width: 100%;
  height: 1px;
  border-width: 0;
  background-color: black;
  opacity: 0.2;
  margin: 100px 0 0;
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.main_contacts {
  padding: 60px 0 40px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.contacts_title {
  font-size: 45px;
  line-height: 60px;
  @media(max-width: 768px) {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.contacts_single {
  text-align: center;
  @media(max-width: 768px) {
    margin-bottom: 40px;
  }
}

.contacts_single_img {
  height: 150px;
  width: 150px;
  padding: 35px;
  background: red;
  background: radial-gradient(white 60%, #fafafb 20%);
  border-radius: 100px;
}

.contacts_single_text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

//Index Style

.index_hero-content {
  margin-top: 30px;
  display: flex;
  height: 100%;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.index_hero-content-half {
  width: 50%;
  @media (min-width: 1000px) {
    text-align: left;
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.index_hero-content_video_wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media (max-width: 1000px) {
    margin-top: 50px;
    width: 100%;
  }
}

.index_hero-content_video {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

