$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;


.test1_hero-content-half{
  width: 100%;
}

.test1_hero_title {
  width: 50%;
  text-align: center;
  font-size: 36px;
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.test1_hero_text {
  width: 50%;
  text-align: center;
  margin: 0;
  font-size: 20px;
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.test1_index_video-form_wrap {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-top: 40px;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.test1_video {
  align-items: stretch;
  width: 49.5%;
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.test1_lightbox {
  height: 100%;
  width: 100%;
}

.test1_video_img {
  height: 100%;
}

.test1_index_form_wrap {
  margin-left: auto;
  width: 48%;
  @media (max-width: 1000px) {
    margin-top: 50px;
    width: 100%;
  }
}

.test1_index_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(255,255,255,0.4);
  height: 100%;
  border-radius: 5px;
}

.test2_index_form {
  background-color: $primary-blue;
}

.test1_index_form_title {
  width: 100%;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
}

.test1_index_form_text {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
}

.test1_index_form_input{
  margin-top: 20px;
  width: 100%;
  padding: 10px 10px 7px 10px;
  border-width: 0;
  border-radius: 5px;
  background-color: white;
}

.test1_form_input-sm_wrap {
  width: 100%;
}

.test1_index_form_input-sm{
  width: 49%;
  &:last-child {
    float: right;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.test1_form_divider {
  margin-top: 5px;
  margin-bottom: 10px;
}

.test1_form_btn {
  margin-top: 20px;
}

.test1_hero_btns {
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.test1_hero_btn1 {
  background-color: white;
  color: $primary-blue;
  &:hover{
    background-color: #f0f8ff!important;
  }
}

.test1_hero_btn2 {
  border-color: white;
  color: white;
}

.test3_hero_content_title{
  margin-top: 30px;
  width: 100%;
}

.test3_hero_content_text{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}