$primary-blue : #2b3b4e;
$primary-gray : #f0f2f5;
$primary-yellow: #f5a623;

.navbar {
  background-color: $primary-blue;
}

.main_cont_wrap {
  padding: 90px 0 0;
  display: flex;
  justify-content:space-between;
  @media(max-width: 768px) {
    padding: 40px 0 0;
    flex-direction: column;
    align-items: center;
  }
}

.main_cont_block {
  width: 40%;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  font-family: 'Lato';
  color: $primary-blue;
  padding: 45px 50px;
  @media(max-width: 768px) {
    width: 80%;
    margin-bottom: 40px;
    padding: 40px 30px;
  }
}

.inicia_title {
  font-weight: 28px;
  margin-bottom: 45px;
}

.inicia_form_input {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  border-color: #a5acb4;
  transition: all 0.3s;
  &:active, &:focus {
    border-color: $primary-yellow;
    color: $primary-yellow;
    background-color: white;
  }
}

.inicia_form_btn {
  color: white;
  border: 1px solid $primary-yellow;
  background-color: $primary-yellow;
  padding: 8px 30px;
  transition: all 0.3s;
  font-size: 16px;
  &:hover, &:focus {
    background-color: #e39109;
    color: white;
  }
}

.inicia_form_forgot {
  margin-left: 25px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: $primary-yellow;
  }
  @media(max-width: 500px) {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}

.abre_block {
  text-align: center;
}

.abre_icon {
  height: 150px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.abre_title{
  margin-top: 20px;
}

.abre_text {
  font-size:16px;
  margin-top: 15px;
}

.abre_btn{
  background-color: #62adf5;
  color: white;
  margin-top: 10px;
  transition: all 0.3s;
  outline: none;
  padding: 8px 30px;
  font-size: 16px;
  &:hover{
    color: white;
    background-color: #288ceb;
  }
}
