$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;

.navbar {
  background-color: $primary-blue;
}

body {
  background-color: $primary-gray;
}

.estrats_single {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  margin-top: 50px;
  border-radius: 5px;
}

.estrats_single_head {
  width: 100%;
  padding: 20px 20px 15px;
  background-color: $primary-blue;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.estrats_single_head_title {
  font-size: 20px;
  word-spacing: 5px;
  color: rgba(255, 255, 255, 0.7);
  span {
    text-transform: uppercase;
    color: white;
  }
}

.estrats_single_block {
  width: 20%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 25px;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    height: 80%;
    width: 1px;
    background-color: $primary-yellow;
    position: absolute;
    right: 0;
  }
  &:nth-child(2n) {
    align-items: center;
  }
  &:last-child, &:nth-last-child(2) {
    &:after {
      content: none;
    }
  }
  &:last-child {
    background-color: $primary-gray;
    border-left: 1px solid black;
    border-color: rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 1000px) {
    width: 50%;
    align-items: center;
    text-align: center;
    &:nth-child(3n) {
      &:after {
        content: none;
      }
    }
    &:last-child {
      width: 100%;
    }
  }
  @media (max-width: 1000px) {
    &:last-child {
      min-height: 100px;
      *{
        text-align: center;
        font-size: 24px;
      }
    }
  }
}

.estrats_single_percent {
  color: $primary-yellow;
  font-size: 45px;
}

.estrats_single_term {
  font-size: 14px;
  color: $primary-blue;
  font-weight: bold;
}

.estrats_single_subtitle {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.6;
}

.estrats_single_value_wrap {
  margin-top: 5px;
  margin-bottom: 10px;
}

.estrats_single_big-value {
  color: $primary-blue;
  font-size: 24px;
  font-weight: bold;
}

.estrats_single_objetivo_value {
  font-size: 45px;
  color: $primary-yellow;
}

.estrats_single_liquidez_value {
  font-size: 14px;
  color: $primary-blue;
  font-weight: bold;
}

.estrats_single_sum_value {
  color: $primary-blue;
  font-size: 16px;
  font-weight: bold;
}

.estrats_single_sum_wrap {
  background-color: white;
  width: 100%;
  padding: 10px;
  text-align: right;
}

.estrats_total {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  margin-top: 50px;
  border-radius: 5px;
}

.estrats_total_title {
  color: $primary-blue;
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.estrats_total_sum {
  min-width: 20%;
  height: 80px;
  padding: 0 25px;
  background-color: $primary-gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estrats_total_sum_value_wrap {
  background-color: white;
  width: 100%;
  padding: 10px;
  text-align: right;
}

.estrats_total_sum_value {
  color: $primary-blue;
  font-size: 24px;
  font-weight: bold;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.porta_actualisar {
  margin-top: 70px;
  text-align: center;
  font-size: 20px;
  color: $primary-blue;
}

.porta_actualisar_text {
  vertical-align: middle;
}

.porta_actualisar_btn {
  background-color: $primary-blue;
  color: white;
  margin-top: 10px;
  transition: all 0.3s;
  outline: none;
  padding: 8px 30px;
  font-size: 16px;
  margin-left: 10px;
  &:hover {
    color: white;
    background-color: $primary-yellow;
  }
}

.conformes_wrap {
  background-color: white;
  margin-top: 100px;
  @media(max-width: 768px) {
    margin-top: 50px;
  }
}

.conformes_cont {
  min-height: 490px;
  text-align: center;
  padding-top: 140px;
  @media(max-width: 768px) {
    min-height: 300px;
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.conformes_subtitle {
  font-size: 27px;
  width: 80%;
  margin: 0 auto;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.conformes_btn {
  color: white;
  border: 1px solid $primary-yellow;
  background-color: $primary-yellow;
  padding: 10px 20px;
  margin-top: 55px;
  outline: none;
}

.conformes_btn:hover,
.conformes_btn:focus {
  outline: none;
  background-color: #e39109;
  color: white;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}