$primary-blue : #2b3b4e;
$primary-gray : #f0f2f5;
$primary-yellow: #f5a623;

.navbar {
  background-color: $primary-blue;
}

.cont_block {
  width: 80%;
  background-color: white;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  padding: 80px 50px 50px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  @media(max-width:768px) {
    width: 100%;
    padding: 80px 10px 50px;
  }
}

.cont_single {
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  *{
    padding:0;
    margin: 0;
  }
}

.cont_single_head {
  width: 100%;
  border-color:transparent;
  padding: 20px;
  background-color: $primary-blue;
  font-size: 20px;
  text-align: left;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  transition: all 0.4s;
  @media(max-width:768px) {
    font-size: 16px;
  }
}

.cont_single_head_arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid white;
  border-bottom: 7px solid transparent;
  transition: all 0.4s;
  margin-left: 10px;
}

.cont_single_head_active {
  background-color: $primary-yellow;
  .cont_single_head_arrow {
    transform: rotate(90deg);
  }
}

.cont_single_text {
  background-color: $primary-gray;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  p{
    font-size: 16px;
    padding: 25px 20px;
    text-align: left;
  }
}
