$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;


.hero-area {
  min-height: 570px;
  position: relative;
  background: url('../img/recomienda/bgs/recomienda_bg.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  @media (max-width: 768px) {
    height: auto;
  }
}
.hero-area .container {
  position: relative;
}
.hero-area h1 {
  font-family: 'Lato';
  font-size: 55px;
  margin-top: 130px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  @media (max-width: 768px) {
    margin-top: 100px;
  }
}
.hero-area p {
  font-family: 'Lato';
  font-size: 28px;
  font-weight: 300;
  line-height: 1.36;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  margin-bottom: 90px;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.sencillo_wrap {
  background-color: white;
  padding-bottom: 100px;
}

.sencillo_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  counter-reset: steps;
  padding: 0;
  margin-top: 80px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.sencillo_list_item {
  width: 25%;
  @media (max-width: 768px) {
    width: 70%;
    margin-top: 20px;
  }
  @media (max-width:500px) {
    width: 100%;
  }
}

.sencillo_list_item-title {
  font-size: 25px;
  margin-top: 40px;
  font-weight: bold;
  &:before {
    counter-increment: steps;
    content: counter(steps);
    font-size: 18px;
    box-shadow: 0 0 40px 0 rgba(43, 59, 78, 0.2);
    padding: 10px 15px;
    background-color: white;
    border-radius: 100%;
    display: inline;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
  }
}

.sencillo_list_item-text {
  font-size: 16px;
}

.sencillo_list_item-icon {
  display: block;
  margin: 0 auto;
}

.beneficios_block {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  margin-top: 80px;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 10px;
  }
  &:first-of-type{
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }
}

.beneficios_block_icon {
  width: 255px;
  height: 155px;
}

.beneficios_block_cont {
  width: 60%;
  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
  }
}

.beneficios_block_title {
  font-size: 24px;
  font-weight: bold;
}

.beneficios_block_text {
  font-size: 16px;
  span {
    color: $primary-yellow;
  }
}

.beneficios_block_btn {
  display: block;
  color: white;
  border: 1px solid $primary-yellow;
  background-color: $primary-yellow;
  padding: 8px 30px;
  transition: all 0.3s;
  font-size: 16px;
  margin-top: 40px;
  &:hover, &:focus {
    background-color: #e39109;
    color: white;
  }
  @media (max-width: 768px) {
    margin: 20px auto 0;
  }
}