$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;

.estrats_wrap {
  width: 65%;
  @media (max-width: 1024px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.estrats_wrap_section-title {
  color: $primary-blue;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  &:not(:first-of-type) {
    margin-top: 20px;
  }
  @media (max-width: 1024px) {
    margin-top: 20px;
  }
}

.estrats_ordenar_wrap {
  width: 100%;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $primary-blue;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  @media (max-width: 1024px) {
    display: none;
  }
}

.estrats_ordenar {
  min-height: 60px;
  width: 25%;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 10px 0;
  transition: all 0.3s;
  cursor: pointer;
  p {
    padding: 0;
    margin: 0 auto;
    width: 60%;
  }
  &:hover {
    background-color: $primary-yellow;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.estrats_ordenar_active {
  background-color: $primary-yellow;
}

.estrats_ordenar-mobile_wrap {
  display: none;
  width: 100%;
  position: relative;
  @media (max-width: 1024px) {
    display: block;
  }
}

.strats_ordenar-mobile_caret {
  position: absolute;
  right: 20px;
  top: 15px;
}

.estrats_ordenar-mobile {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 20px 20px 15px;
  background-color: $primary-yellow;
  border-width: 0;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  option {
    background-color: $primary-blue;
  }
}

.buscar_estrat {
  margin-top: 20px;
}

.estrat_body_wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: $primary-gray;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
}

.buscar_estrat_head {
  order: 0;
  width: 100%;
  padding: 20px 20px 15px;
  background-color: $primary-blue;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 20px;
  word-spacing: 5px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.estrat_head_titles_wrap {
  display: inline-flex;
  justify-content: space-between;
  @media(max-width: 1024px) {
    flex-direction: column;
  }
}

.buscar_estrat_head_title {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-right: 10px;
  span {
    text-transform: uppercase;
    color: white;
  }
  @media(max-width: 1024px) {
    display: block;
  }
}

.buscar_estrat_head_agregar_btn {
  color: white;
  background-color: #62adf5;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  padding: 10px 25px;
  display: none;
  &:hover, &:focus {
    background-color: #288ceb;
    color: white;
  }
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.buscar_estrat_head_agregar_summ {
  color: white;
  display: none;
  span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
  }
}

.buscar_estrat_head_agregar_visible {
  display: block;
}

.buscar_estrat_block {
  order: 0;
  width: 25%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  position: relative;
  overflow: hidden;
  background-color: white;
  align-items: center;
  text-align: left;
  &:after {
    content: '';
    height: 80%;
    width: 1px;
    background-color: $primary-yellow;
    position: absolute;
    right: 0;
    top: 10%;
  }
  &:nth-last-of-type(1) {
    justify-content: center;
    padding: 30px 0 30px 15px;
    p {
      margin: 0;
    }
    &:after {
      content: none;
      background-color: transparent;
    }
  }
  @media (max-width: 1024px) {
    width: 50%;
    align-items: center;
    text-align: center;
    &:nth-of-type(3n) {
      &:after {
        content: none;
      }
    }
    &:nth-last-of-type(1) {
      align-items: center;
    }
  }
  @media (max-width: 1024px) {
    &:nth-last-of-type(1) {
      min-height: 100px;
      * {
        text-align: center;
        font-size: 24px;
      }
    }
  }
}

.buscar_estrat_percent {
  color: $primary-yellow;
  font-size: 45px;
}

.buscar_estrat_term {
  font-size: 14px;
  color: $primary-blue;
}

.buscar_estrat_subtitle {
  font-size: 14px;
}

.buscar_estrat_value_wrap {
  margin-top: 5px;
  margin-bottom: 10px;
}

.buscar_estrat_big-value {
  color: $primary-blue;
  font-size: 24px;
  font-weight: bold;
}

.buscar_estrat_objetivo_value {
  font-size: 35px;
  color: $primary-yellow;
  background-color: white;
  padding: 0 15px;
  border-radius: 100%;
  margin: 10px 0;
  transition: all 0.3s;
}

.buscar_estrat_liquidez_value {
  font-size: 16px;
}

.estrat_comision_wrap {
  position: relative;
  width: 100%;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0.4;
    width: 100%;
    height: 1px;
    background-color: $primary-blue;
  }
}

.estrat_block_comision_mob-divider {
  display: none;
  margin: 0 6px 0;
  height: 12px;
  width: 1px;
  background-color: $primary-blue;
  border-width: 0;
  transform: skew(-30deg);
}

@media (max-width: 1024px) {
  .estrat_block_diver {
    display: none;
  }
  .estrat_block_objetivo:after {
    content: none;
  }
  .estrat_block_comision {
    order: 1;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 0;
    background-color: $primary-gray;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #d9dce0;
    .estrat_block_comision_mob-divider {
      display: block;
    }
    .estrat_comision_wrap {
      width: auto;
    }
    .buscar_estrat_value_wrap {
      margin: 0 5px;
    }
    .estrat_comision_wrap:after {
      content: none;
    }
    .buscar_estrat_value_sm-text {
      display: none;
    }
    .buscar_estrat_big-value {
      font-size: 16px;
    }
  }
}

.buscar_estrat_mobile_agregar_btn {
  display: none;
  order: 2;
  margin: 10px auto 20px;
  color: white;
  background-color: #62adf5;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  padding: 10px 25px;
  &:hover, &:focus {
    background-color: #288ceb;
    color: white;
  }
  @media (max-width: 1024px) {
    display: block;
  }
}