$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;
$primary-green: #97cd57;
$primary-red: #db2837;
$primary-purple: #6e60ea;
$light-blue: #73bff7;

.filter_main-wrap {
  width: 30%;
  @media (max-width: 1024px) {
    width: 90%;
    margin: 0 auto;
  }
}

.buscar_video_wrap {
  margin-bottom: 20px;
  @media (max-width: 1024px) {
    margin-top: 40px;
    width: 100%;
  }
}

.buscar_video_text {
  color: $primary-blue;
  font-weight: bold;
  font-size: 16px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.buscar_video {
  width: 100%;
  border-radius: 5px;
}

.filtres_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  max-height: 3000px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.filtres-mobile_wrap {
  display: flex;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 60px 0 100px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  will-change: transform;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  * {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .filtres_block, .filtres_block_head {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #filterOperadora:after {
    content: none;
  }
}

.filtres-mobile_head {
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px 15px;
  background-color: $primary-blue;
  color: white;
  font-weight: bold;
  text-align: left;
  display: flex;
  justify-content: space-between;
  transition: width 0.4s;
  .filtres_block_head_info {
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }
  .filtres-mobile_head_caret {
    transform: rotate(-180deg);
  }
  @media (min-width: 1024px) {
    display: none;
  }
}

.filtres-mobile_head_caret {
  height: 100%;
  margin-top: -5px;
  @media (min-width: 1024px) {
    display: none;
  }
}

.filtres-mobile_head_sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.filtres-mobile_close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.filtres-mobile_btn_wrap {
  display: none;
  width: 90%;
  position: fixed;
  z-index: 300;
  bottom: 0;
  left: 5%;
  @media (min-width: 1024px) {
    display: none;
  }
}

.filtres-mobile_btn_wrap_visible {
  display: block;
}

.filtres-mobile_btn-aplicar {
  display: block;
  width: 100%;
  top: 95vh;
  color: white;
  background-color: $primary-yellow;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  padding: 10px 35px;
  margin: 0 auto;
  border-radius: 0;
  &:hover, &:focus {
    background-color: #e39109;
    color: white;
  }
}

.filtres_block_head {
  width: 100%;
  padding: 20px 20px 15px;
  min-height: 55px;
  background-color: $primary-blue;
  color: white;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  @media (max-width: 1000px) {
    .filtres_block_head_info {
      display: block;
      margin-left: auto;
      margin-right: 10px;
    }
    .filtres-mobile_btn_caret {
      margin-top: 0;
      margin-right: 3px;
      transform: rotate(180deg);
    }
  }
}

.filtres_block_head_info {
  font-weight: normal;
  cursor: help;
  i {
    margin-right: 5px;
  }
}

.filtres_block {
  padding: 30px;
  width: 100%;
  position: relative;
  max-height: 1000px;
  background-color: white;
  &:after {
    content: '';
    height: 2px;
    width: 83%;
    background-color: $primary-gray;
    position: absolute;
    bottom: 0;
    left: 30px;
  }
  &:last-child::after {
    background-color: transparent;
  }
  @media(max-width: 768px) {
    padding: 30px;
  }
}

.filtres_block_title {
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
  &:before {
    content: ' ';
    border: 3px solid $primary-yellow;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    position: absolute;
    top: 15px;
    left: 0px;
  }
}

.filtres_block_title_arrow {
  float: right;
  position: absolute;
  top: 30%;
  right: 0;
  height: 15px;
  width: 20px;
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.filtres_block_cont {
  max-height: 800px;
}

.filtres_block_closed {
  .filtres_block_cont {
    max-height: 0;
    overflow: hidden;
  }
  .filtres_block_title_arrow {
    transform: rotate(0deg);
  }
}

.filtres_obj_list {
  font-size: 16px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.filtres_obj_list_num {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 24px;
  width: 25px;
  border-radius: 100%;
  margin-right: 10px;
  transition: all 0.3s;
  flex-shrink: 0;
}

.filtres_obj_list_amount {
  display: block;
  margin-left: auto;
  i {
    margin-left: 20px;
    color: transparent;
    background-color: transparent;
    padding: 6px;
    font-size: 12px;
    border-radius: 100%;
  }
}

.filtres_obj_list_item {
  width: 100%;
  transition: all 0.3s;
  display: flex;
  justify-content: space-around;
  &>input {
    display: none;
  }
  &>label {
    display: flex;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    font-family: 'Lato';
  }
}

.filtres_obj_list_item_conserv {
  color: $primary-green;
  background-color: #e8f5db;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .filtres_obj_list_num {
    background-color: $primary-green;
  }
}

.filtres_obj_list_item_moderno{
  color: $primary-yellow;
  background-color: #fff0db;
  .filtres_obj_list_num {
    background-color: $primary-yellow;
  }
}

.filtres_obj_list_item_emprendedor {
  color: $primary-red;
  background-color: #f8d4d7;
  .filtres_obj_list_num {
    background-color: $primary-red;
  }
}

.filtres_obj_list_item_agresivo {
  color: $light-blue;
  background-color: #e3f2fd;
  .filtres_obj_list_num {
    background-color: $light-blue;
  }
}

.filtres_obj_list_item_espec{
  color: $primary-purple;
  background-color: #f0eefc;
  .filtres_obj_list_num {
    background-color: $primary-purple;
  }
}

.filtres_obj_list_item-active {
  color: white !important;
  i, .filtres_obj_list_num {
    background-color: white !important;
  }
  &.filtres_obj_list_item_conserv {
    background-color: $primary-green;
    i, .filtres_obj_list_num {
      color: $primary-green !important;
    }
  }
  &.filtres_obj_list_item_moderno{
    background-color: $primary-yellow;
    i, .filtres_obj_list_num {
      color: $primary-yellow !important;
    }
  }
  &.filtres_obj_list_item_emprendedor {
    background-color: $primary-red;
    i, .filtres_obj_list_num {
      color: $primary-red !important;
    }
  }
  &.filtres_obj_list_item_agresivo {
    background-color: $light-blue;
    i, .filtres_obj_list_num {
      color: $light-blue !important;
    }
  }
  &.filtres_obj_list_item_espec{
    background-color: $primary-purple;
    i, .filtres_obj_list_num {
      color: $primary-purple !important;
    }
  }
}

.filtres_block_slider-value_wrap {
  margin-top: 35px;
  opacity: 0.6;
}

//restyling Jquery-UI slider
.filtres_block_slider {
  position: relative;
  width: 100% !important;
  height: 5px;
  border-width: 0 !important;
  background-color: $primary-gray;
  margin-top: 20px;
  .ui-slider-range {
    background-color: $primary-yellow !important;
  }
}

.ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white !important;
  border: 3px solid $primary-yellow !important;
  outline: none;
  margin-top: 1px;
  cursor: pointer;
  bottom: -2px !important;
  top: -8px !important;
  img {
    display: none;
  }
}

.filtres_oper_list_wrap {
  margin-top: 35px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.filtres_oper_list, #chkl_operadoras {
  width: 100%;
  list-style: none;
  padding: 0;
}

#chkl_operadoras td>input {
  display: none;
}

.filtres_oper_list_item, #chkl_operadoras td>label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 13px 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 0;
  i {
    float: right;
    color: $primary-yellow;
    opacity: 0;
    margin-top: 2px;
  }
}

#chkl_operadoras tr:last-child>td>label{
  border-bottom: none;
}

.filtres_oper_list_item-selected {
  background-color: #fce8c8;
  i {
    opacity: 1 !important;
  }
}