$primary-blue: #2b3b4e;
$primary-gray: #f0f2f5;
$primary-yellow: #f5a623;
$primary-green: #97cd57;
$primary-red: #db2837;
$primary-purple: #6e60ea;
$light-blue: #73bff7;

.buscar_modal_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
  transition: all 0.4s;
  overflow-y: scroll;
  opacity: 0;
}

.buscar_modal_visible {
  opacity: 1;
  z-index: 400;
}

.body_no-scroll {
  overflow: hidden;
}

.help_body {
  position: relative;
  display: block;
  margin: 30vh auto;
  width: 80%;
  padding:65px 100px 100px;
  border-radius: 5px;
  color: $primary-blue;
  background-color: white;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  @media (max-width: 1024px) {
    margin-top: 60px;
    padding:65px 5% 100px;
  }
  @media (max-width: 768px) {
    width: 90%;
    padding:65px 3% 100px;
  }
}

.buscar_modal_close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: $primary-blue;
}

.help_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  counter-reset: objetivo;
}

.help_group_title {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.help_group_single {
  display: inline-flex;
  align-items: center;
  margin-top: 40px;
  width: 49%;
  padding: 55px 55px 50px 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 41px 67px 0 rgba(43, 59, 78, 0.2);
  @media (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
  }
}

.help_group_single_title {
  position: relative;
  padding-left: 35px;
  font-weight: bold;
  font-size: 28px;
  &:before {
    counter-increment: objetivo;
    content: counter(objetivo);
    position: absolute;
    top: 20%;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 24px;
    color: white;
    background-color: black;
  }
}

#helpCons {
  color: $primary-green;
  &:before {
    background-color: $primary-green;
  }
}

#helpModer {
  color: $primary-yellow;
  &:before {
    background-color: $primary-yellow;
  }
}

#helpEmpr {
  color: $primary-red;
  &:before {
    background-color: $primary-red;
  }
}

#helpAgres {
  color: $light-blue;
  &:before {
    background-color: $light-blue;
  }
}

#helpEspec {
  color: $primary-purple;
  &:before {
    background-color: $primary-purple;
  }
}

.help_group_single_text {
  margin-top: 25px;
  font-size: 14px;
}

.help_single-ref {
  .help_group_single_cont {
    width: 100%;
  }
  @media (max-width: 1024px) {
    text-align: center;
  }
}

.help_group_ref-title {
  padding: 0;
  &:before {
    content: none;
  }
}

.help_group_single_icon {
  opacity: 0.6;
  width: 100px;
  margin-right: 40px;
  @media (max-width: 1024px) {
    margin: 0 0 20px;
    align-self: center;
  }
}

/*

.buscar_modal_body {
  background-color: white;
  padding: 40px 35px;
  width: 520px;
  margin: 150px auto 0;
  border-radius: 5px;
  color: $primary-blue;
  text-align: justify;
  position: relative;
  @media(max-width: 768px) {
    width: 80%;
    padding: 20px 15px;
  }
  h3 {
    font-weight: bold;
  }
  label {
    font-style: 16;
    font-weight: normal;
    opacity: 0.6;
    margin-top: 40px;
  }
}

.buscar_agregar-modal_text {
  font-size: 16px;
  span {
    font-weight: bold;
    color: $primary-yellow;
  }
}

.buscar_modal_input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  border-color: #a5acb4;
  transition: all 0.3s;
  font-size: 16px;
  &:active, &:focus {
    border-color: $primary-yellow;
    color: $primary-yellow;
    background-color: white;
  }
}

.buscar_modal_btn {
  color: white;
  background-color: $primary-yellow;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  outline: none;
  padding: 10px 35px;
  &:hover, &:focus {
    background-color: #e39109;
    color: white;
  }
}

.buscar_modal_btn-wrap {
  background-color: #f0f2f5;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 100%;
  bottom: -25%;
  left: 0;
}

.buscar_modal_table_wrap {
  margin-top: 35px;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

.buscar_modal_table {
  width: 100%;
  th, td {
    padding: 20px;
    text-align: center;
    @media (max-width: 768px) {
      padding: 5px;
    }
    @media (max-width: 375px) {
      font-size: 10px;
    }
  }
  td:first-child {
    text-align: left;
  }
  td:last-child {
    text-align: right;
  }
  tr:nth-child(2n + 1) {
    background-color: #fce8c8;
  }
  tr:first-child {
    border-bottom: 1px solid black;
    border-color: rgba(0, 0, 0, 0.25);
    background-color: white;
  }
}

#objetivoModal {
  .buscar_modal_body {
    width: 700px;
    @media(max-width: 768px) {
      width: 90%;
    }
  }
}*/