﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="new-account-invitation.aspx.vb" Inherits="expertos_new_account_invitation" %>

<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Mon Mar 06 2017 18:12:34 GMT+0000 (UTC)  -->
<html data-wf-page="589c3801c6970b4b695f1f1d" data-wf-site="5898439cf29bebaa63a0fb15">
<head>
  <meta charset="utf-8">
  <title>Invierte con Expertos - Expertos</title>
  <meta content="Crea tu cuenta" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/invierte.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
      WebFont.load({
          google: {
              families: ["Raleway:100,200,300,regular,500,600,700,800,900"]
          }
      });
  </script>
  <script src="js/modernizr.js" type="text/javascript"></script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="brown-section padding-top">
    <div class="nav-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
      <div class="menu-container w-container">
        <a class="menu-logo w-nav-brand" href="index.aspx"><img src="images/Logo.svg">
        </a>
        <div class="centered-mt menu-text">Portal de Expertos</div>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <form class="form-2" data-name="Email Form Registro" id="email_form_reg" name="email-form" runat="server">
    <div class="white-small-wrapper">
      <h3 class="heading-right-24px">Regístrate como Experto</h3>
      <p class="brown-right-14px">Proporciona tu correo electrónico para abrir una cuenta y registrar tus estrategias</p>
      <div class="w-form">
          <div class="input-block no-margin" style="margin-bottom: 15px;" data-ix="icons"><img class="login-icon" height="20" src="images/message.svg" width="20">
            <asp:TextBox ID="correo_registro" name="correo_registro" class="text-field w-input" data-name="correo electrónico2" maxlength="256" runat="server"></asp:TextBox>
          </div>
          <asp:Button ID="btn_continuar" runat="server" Text="Continuar" CssClass="reggg small-button w-button" data-wait="Please wait..." />
      </div>
      <br />
      <div class="video-section">
        <br />
        <p class="brown-right-14px">La primera plataforma para expertos en fondos de inversión donde puedes ganar dinero permitiendo que miles de inversionistas repliquen tus estrategias de inversión.</p>
        <div class="video-wrapper" style="width:100%;">
            <div class="div-block-5" style="width:100%; text-align:center;">
            <div class="video w-embed w-video" style="padding-top: 56.17021276595745%; width:80%; margin:auto;">
                <iframe class="embedly-embed" src="https://www.youtube.com/embed/Lo9oy_I2by0" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            </div>
            <div>
            </div>
        </div>
          <div><br /><asp:Button ID="btn_home" runat="server" Text="Conoce más" CssClass="reggg small-button w-button" style="margin:auto;" data-wait="Please wait..." /></div>
          
      </div>
    </div>
    </form>
  </div>
  <div class="footer">
    <div class="footer-columns-wrapper">
      <div class="footer-column"><img src="images/Logo.svg"><a class="footer-gray-link" href="#">Términos y Condiciones</a><a class="footer-gray-link" href="#">Política de Privacidad</a>
      </div>
      <div class="footer-column"><a class="footer-link" href="index.aspx">Inicio</a><a class="footer-link" href="new-account.aspx">Regístrate como Experto</a><a class="footer-link" data-ix="open" href="#">Mi Cuenta</a><a class="footer-link" href="faq.aspx">FAQs</a>
      </div>
      <div class="footer-column">
        <p class="footer-address">Montes Urales 749&nbsp;
          <br>Lomas De Chapultepec
          <br>México CDMX 11000
          <a href="mailto:expertos@invierteconexpertos.mx" class="footer-link">expertos@invierteconexpertos.mx</a>
        </p>
      </div>
      <div class="footer-column icons">
        <a class="social-icon w-inline-block" href="https://www.facebook.com/invierteconexpertos/"><img height="28" src="images/facebook-logo.svg">
        </a>
        <a class="ex social-icon w-inline-block" href="https://twitter.com/icexpertos"><img height="24" src="images/twitter-logo.svg">
        </a>
        <a class="social-icon w-inline-block" href="#"><img height="34" src="images/google-plus.svg">
        </a>
        <a class="social-icon w-inline-block" href="https://www.youtube.com/channel/UCvR1sPPQcoru1Gaft-knolg"><img height="25" src="images/youtube-logo.svg">
        </a>
      </div>
    </div>
    <div class="footer-privacidad">
      <!--<p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar&nbsp; Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".</p>-->
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 8883249;
    (function() {
      var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
    </script>
    <!-- End of LiveChat code -->
</body>
</html>