﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="refer-a2b.aspx.vb" Inherits="expertos_refer_a2b" %>

<!DOCTYPE html>
<html data-wf-page="58b85c32d8178b1159d1515e" data-wf-site="5898439cf29bebaa63a0fb15">
<head>
  <meta charset="utf-8">
  <title>Invierte con Expertos - Expertos</title>
  <meta content="Refiere y Gana" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/invierte.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
      WebFont.load({
          google: {
              families: ["Raleway:100,200,300,regular,500,600,700,800,900"]
          }
      });
  </script>
  <script src="js/modernizr.js" type="text/javascript"></script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="brown-section padding-top">
    <div class="white-small-wrapper">
      <h3 class="heading-right-24px">Datos Bancarios</h3>
      <h4 class="heading-left-brown-14px">
          <asp:Label ID="lbl_encabezado" runat="server" Text=""></asp:Label></h4>
        <div style="height:20px;"></div>
      <form id="form1" runat="server">
          <div class="w-form" id="input_data" runat="server" >
              <div class="ib-left input-block">
                  <img class="login-icon" height="20" src="images/account.svg" width="20" style="margin-left: 15px;">
                  <asp:Label ID="lbl_titular" runat="server" Text="" class="text-field" Style="border:none;"></asp:Label>
              </div>
              <div class="ib-left input-block">
                  <asp:DropDownList ID="cmb_banco" runat="server" class="text-field w-input" placeholder="Banco"></asp:DropDownList>
              </div>
              <div class="ib-left input-block">
                  <asp:TextBox ID="txt_clabe" runat="server" class="text-field w-input" placeholder="Cuenta CLABE" required="required"></asp:TextBox>
                  <asp:RegularExpressionValidator ID="REV_clabe" runat="server" ErrorMessage="*Debe contener 18 digitos" ForeColor="Red" CssClass="small-text" ControlToValidate="txt_clabe" ValidationExpression="^\d{18}$"></asp:RegularExpressionValidator>
              </div>
              <asp:Button ID="btn_enviar" runat="server" Text="Enviar" class="reggg small-button w-button" data-wait="Please wait..." />
          </div>
          <div class="w-form" id="read_data" runat="server" >
              <div class="ib-left input-block">
                  <img class="login-icon" height="20" src="images/account.svg" width="20" style="margin-left: 15px;">
                  <asp:Label ID="lbl_read_name" runat="server" Text="" class="text-field" Style="border:none;"></asp:Label>
              </div>
              <div class="ib-left input-block">
                  <label>Institución Bancaria: </label>
                  <asp:Label ID="lbl_banco" runat="server" Text=""></asp:Label>
              </div>
              <div class="ib-left input-block">
                  <label>Cuenta CLABE: </label>
                  <asp:Label ID="lbl_clabe" runat="server" Text=""></asp:Label>
              </div>
              <asp:Button ID="btn_estrategias" runat="server" Text="Mis Estrategias" class="reggg small-button w-button" data-wait="Please wait..." style="margin:auto;" />
          </div>
      </form>
      </div>
      <div class="nav-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
        <div class="menu-container w-container">
          <a class="menu-logo w-nav-brand" href="estrategies.aspx"><img src="images/Logo.svg">
          </a>
          <nav class="mobile-menu w-nav-menu" role="navigation"><a class="nav-link w-nav-link" href="estrategies.aspx">Mis Estrategias</a><a class="nav-link w-nav-link" href="comisions.aspx">Mis Comisiones</a><a class="menu-bar-button w-button" href="refer.aspx">Recomienda y Gana</a>
            <div class="dd w-dropdown" data-delay="0">
              <div class="dd-toogle w-dropdown-toggle">
                <div><%=Session("alias_login")%></div>
                <div class="w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dd-list w-dropdown-list"><a class="dd-link w-dropdown-link" href="refer-a2b.aspx">Datos Bancarios</a><a class="dd-link w-dropdown-link" href="password-1.aspx">Cambiar password</a><a class="dd-link w-dropdown-link" href="logout.aspx">Cerrar sesión</a>
              </nav>
            </div>
          </nav>
          <div class="menu-text mt-mobile">Portal
            <br>de Expertos</div>
          <div class="menu-text mt-hide">Portal de Expertos</div>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-columns-wrapper">
      <div class="footer-column"><img src="images/Logo.svg"><a class="footer-gray-link" href="#">Términos y Condiciones</a><a class="footer-gray-link" href="#">Política de Privacidad</a>
      </div>
      <div class="footer-column"><a class="footer-link" href="index.aspx">Inicio</a><a class="footer-link" href="new-account.aspx">Regístrate como Experto</a><a class="footer-link" href="estrategies.aspx">Mi Cuenta</a><a class="footer-link" href="faq.aspx">FAQs</a>
      </div>
      <div class="footer-column">
        <p class="footer-address">Montes Urales 749&nbsp;
          <br>Lomas De Chapultepec
          <br>México CDMX 11000
          <a href="mailto:expertos@invierteconexpertos.mx" class="footer-link">expertos@invierteconexpertos.mx</a>
        </p>
      </div>
      <div class="footer-column icons">
        <a class="social-icon w-inline-block" href="https://www.facebook.com/invierteconexpertos/"><img height="28" src="images/facebook-logo.svg">
        </a>
        <a class="ex social-icon w-inline-block" href="https://twitter.com/icexpertos"><img height="24" src="images/twitter-logo.svg">
        </a>
        <a class="social-icon w-inline-block" href="#"><img height="34" src="images/google-plus.svg">
        </a>
        <a class="social-icon w-inline-block" href="https://www.youtube.com/channel/UCvR1sPPQcoru1Gaft-knolg"><img height="25" src="images/youtube-logo.svg">
        </a>
      </div>
    </div>
    <div class="footer-privacidad">
      <!--<p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar&nbsp; Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".</p>-->
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 8883249;
    (function() {
      var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
    </script>
    <!-- End of LiveChat code -->
</body>
</html>